### What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for
1. web development (server-side),
2. software development,
3. mathematics,
4. system scripting.

### What can Python do?
1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. Python can be used for rapid prototyping, or for production-ready software development.

### Why Python?
1. Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
2. Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-oriented way or a functional way.

### Good to know
1. The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
2. In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

### Python Syntax compared to other programming languages
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

In [3]:
print("Welcome to Python Basics!")

Welcome to Python Basics!

### Comments

In [4]:
# This is a comment
print("Hello, World!") # This is a comment

Hello, World!

In [5]:
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

### Data Types

Variables

In [6]:
A

NameError: name 'A' is not defined

In [7]:
# Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [8]:
# Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-8-111512aed2f9>, line 2)

Integer

In [9]:
a = 2
print(type(a))
print(a)

<class 'int'>
2

In [10]:
a

2

Float

In [11]:
a = 4.5
print(type(a))
print(a)

<class 'float'>
4.5

String

In [12]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(type(a))
print(a)

<class 'str'>
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [13]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(type(a))
print(a)

<class 'str'>
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Boolean

In [14]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

### Type Casting

In [15]:
x = int(1)   # x will be 1
x

1

In [17]:
y = int(2.8) # y will be 2
y

2

In [20]:
z = int("3") # z will be 3
z

3

In [21]:
x = float(1) # x will be 1.0
x

1.0

In [ ]:
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

### Other Data Types

In [ ]:
'''
x = "Hello World" #str
x = 20 #int
x = 20.5 #float
x = 1j #complex
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "John", "age" : 36} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozenset
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
'''

### Arithmetic Operators

In [22]:
# Addition
5 + 4

9

In [23]:
# Subtraction
5 - 4

1

In [24]:
# Multiplication
5 * 4

20

In [25]:
# Division
5 / 4

1.25

In [26]:
# Modulus
5 % 4

1

In [27]:
# Floor division
5 // 4

1

In [28]:
# Exponentiation
5 ** 4

625

In [29]:
1/0

ZeroDivisionError: division by zero

### Assignment Operators

In [37]:
x = 5

In [38]:
x += 3
x

8

In [39]:
x = x + 3
x

11

In [40]:
x -= 3
x

8

In [41]:
x = x - 3
x

5

In [42]:
x *= 3
x

15

In [ ]:
x = x * 3

In [ ]:
x /= 3
x = x / 3

In [ ]:
x %= 3
x = x % 3

In [ ]:
x //= 3
x = x // 3

In [ ]:
x **= 3
x = x ** 3

In [43]:
x &= 3
x

3

In [ ]:
x = x & 3

In [ ]:
x |= 3
x = x | 3

In [ ]:
x ^= 3
x = x ^ 3

In [ ]:
x >>= 3
x = x >> 3

In [ ]:
x <<= 3
x = x << 3

### Comparison Operators

In [ ]:
# Equal
x == y

In [ ]:
# Not equal
x != y

In [ ]:
# Greater than
x > y

In [ ]:
# Less than
x < y

In [ ]:
# Greater than or equal to
x >= y

In [ ]:
# Less than or equal to
x <= y

### Logical Operators

In [ ]:
# and 
# Returns True if both statements are true
x < 5 and  x < 10

In [ ]:
# or
# Returns True if one of the statements is true
x < 5 or x < 4

In [ ]:
# not
# Reverse the result, returns False if the result is true
not(x < 5 and x < 10)

### Identity Operators

In [46]:
x = 5
y = 6

In [47]:
# is 
# Returns True if both variables are the same object
x is y

False

In [48]:
# is not
# Returns True if both variables are not the same object
x is not y

True

### Membership Operators

In [49]:
x = 5
y = [2,3,5]

In [50]:
# in
# Returns True if a sequence with the specified value is present in the object
x in y

True

In [51]:
# not in
# Returns True if a sequence with the specified value is not present in the object
x not in y

False

### Bitwise Operators

In [ ]:
# &
# AND Sets each bit to 1 if both bits are 1

In [ ]:
# |
# OR Sets each bit to 1 if one of two bits is 1

In [ ]:
# ^
# XOR Sets each bit to 1 if only one of two bits is 1

In [ ]:
# ~ 
# NOT Inverts all the bits

In [ ]:
# <<
# Zero fill Shift left by pushing zeros in from the right and let the leftmost bits fall off

In [ ]:
# >>
# Signed Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

### Lists

In [ ]:
List_1 = [1,'a','sujeet',"I am learning Python", a]
List_1

In [ ]:
type(List_1)

In [ ]:
len(List_1)

In [ ]:
List_1[0]

In [ ]:
List_1[5]

In [ ]:
del a

In [ ]:
a = 6

In [ ]:
List_1

In [ ]:
List_1 = [1,'a','sujeet',"I am learning Python", a]
List_1

In [ ]:
List_1.append('b')
List_1

In [ ]:
List_2 = list(range(1,15,2))
List_2

In [ ]:
List_1.extend(List_2)
List_1

In [ ]:
List_3 = [x for x in List_1 if type(x)==int]
List_3

In [ ]:
%%timeit
[x**2 for x in List_1 if type(x)==int]

In [ ]:
[x/5 for x in range(5,4000,100) if x<=1000]

In [ ]:
'''
append() # Adds an element at the end of the list
clear() # Removes all the elements from the list
copy() # Returns a copy of the list
count() # Returns the number of elements with the specified value
extend() # Add the elements of a list (or any iterable), to the end of the current list
index() # Returns the index of the first element with the specified value
insert() #Adds an element at the specified position
pop() # Removes the element at the specified position
remove() # Removes the item with the specified value
reverse() # Reverses the order of the list
sort() # Sorts the list
'''

### Sets

In [ ]:
Set_1 = {"apple", "banana", "cherry"}

In [ ]:
'''
add() # Adds an element to the set
clear() # Removes all the elements from the set
copy() # Returns a copy of the set
difference() # Returns a set containing the difference between two or more sets
difference_update() # Removes the items in this set that are also included in another, specified set
discard() # Remove the specified item
intersection() # Returns a set, that is the intersection of two other sets
intersection_update() # Removes the items in this set that are not present in other, specified set(s)
isdisjoint() # Returns whether two sets have a intersection or not
issubset() # Returns whether another set contains this set or not
issuperset() # Returns whether this set contains another set or not
pop() # Removes an element from the set
remove() # Removes the specified element
symmetric_difference() # Returns a set with the symmetric differences of two sets
symmetric_difference_update() # inserts the symmetric differences from this set and another
union() # Return a set containing the union of sets
update() # Update the set with the union of this set and others
'''

### Tuple

In [ ]:
Tuple_1 = (1,2,3)
Tuple_1

In [ ]:
List_1 = [1,2,3]
List_1

In [ ]:
print(List_1*5)
print(Tuple_1*5)

In [ ]:
print(List_1+[4])
print((4,)+Tuple_1)

In [ ]:
'''
count() # Returns the number of times a specified value occurs in a tuple
index() # Searches the tuple for a specified value and returns the position of where it was found
'''

### Dictionaries

In [ ]:
Dict_1 = {'A':1,'B':2,'C':3}

In [ ]:
Dict_1['A']

In [ ]:
Dict_1[0]

### Series

In [ ]:
import pandas as pd
df = pd.DataFrame([{'A':1,'B':2,'C':3}])
df.loc[1,'A'] = 2
df

### Array

In [ ]:
import numpy as np
np.array(df['A'])

### Matrix

In [ ]:
np.matrix(df)

### Logical Control Flow

In [ ]:
a = int(input("Enter a value : "))

In [ ]:
if a > 5: print(a+3)
else: print(a)

In [ ]:
if (a>2)&(a<5): print(a+3)
elif (a==1)&(a>=5): print(a+2)
else: print(a)

In [ ]:
if (a>=1)&(a<5): 
    if (a==1): print(a+2)
    else: print(a+3)
else: print(a)

### Looping

In [ ]:
%%timeit
a = 2
while a < 5:
    a += 1
    print(a)

In [ ]:
%%timeit
a = 2
for i in range(1,5000):
    a += 1
    print(a)
    if a >= 5: break

### Functions

In [ ]:
def area(a,b):
    c = a*b
    return c

area(5,6)

### Classes

In [ ]:
# file1.py

class class1():
    a = 2

In [ ]:
# file2.py

import file1

class1.a