In [1]:
exec(open('..\\..\\funcs_modules.py').read())

Loaded System Packages
Loaded Jupyter-Notebook Packages
Loaded Dataframe Packages
Loaded Datetime Packages
Loaded Statistical Packages
Loaded Scikit-learn Packages
Loaded Keras-Tensorflow Packages
Loaded SQl Packages
Loaded NLP Packages
Loaded Deep Learning Packages
Loaded Web Packages
Loaded Visualisation Packages

In [56]:
finaldf = pd.read_csv("IPL_T20_D11.csv")
df = finaldf.dropna().reset_index(drop=True)
# for c in df.columns: print(c, df[c].dtype)
print(df.shape,df.columns)

# df.drop(['run_rate','NRR'], axis=1, inplace=True)

df['ovrs'] = df['ovrs'].astype(int)*6+df['ovrs']*10-df['ovrs'].astype(int)*10
df['run_rate'] = (df['runs']/df['ovrs'])*6

df = df.merge(df[['Game','Vs','Match','D11','WK', 'Bat', 'AR', 'Bowl', 'Frgnr', 'C', 'VC','Top1', 'Top2', 'Top3','Top4', 'Top5',
                  'ovrs', 'runs', 'run_rate', 'runs_pp%','runs_last5%', 'wkts_pp_taken', 'wkts_by_spin', 'wkts_by_pacer']],
              how='inner', left_on=['Game','Team'], right_on=['Game','Vs'])

df = df.rename({'Vs_x':'Vs'},axis=1).drop('Vs_y', axis=1)

df['NRR_x'] = df['run_rate_x'] - df['run_rate_y']
df['NRR_y'] = df['run_rate_y'] - df['run_rate_x']

df = df[df['Team']<df['Vs']].reset_index(drop=True)
print(df.shape,df.columns)
df.tail()

(76, 42) Index(['Date', 'Game', 'Team', 'Vs', 'Match', 'Venue', 'Toss', 'Inn', 'Result',
       'ovrs', 'runs', 'runs_pp%', 'runs_last5%', 'wkts_pp_taken',
       'wkts_by_spin', 'wkts_by_pacer', 'C', 'VC', 'Top1', 'Top2', 'Top3',
       'Top4', 'Top5', 'WK', 'Bat', 'AR', 'Bowl', 'Frgnr', 'Top01%', 'Top02%',
       'Top03%', 'Top04%', 'Top05%', 'Top06%', 'Top07%', 'Top08%', 'Top09%',
       'Top10%', 'Top11%', 'Top01C%', 'Top02VC%', 'D11'],
      dtype='object')
(38, 67) Index(['Date', 'Game', 'Team', 'Vs', 'Match_x', 'Venue', 'Toss', 'Inn',
       'Result', 'ovrs_x', 'runs_x', 'runs_pp%_x', 'runs_last5%_x',
       'wkts_pp_taken_x', 'wkts_by_spin_x', 'wkts_by_pacer_x', 'C_x', 'VC_x',
       'Top1_x', 'Top2_x', 'Top3_x', 'Top4_x', 'Top5_x', 'WK_x', 'Bat_x',
       'AR_x', 'Bowl_x', 'Frgnr_x', 'Top01%', 'Top02%', 'Top03%', 'Top04%',
       'Top05%', 'Top06%', 'Top07%', 'Top08%', 'Top09%', 'Top10%', 'Top11%',
       'Top01C%', 'Top02VC%', 'D11_x', 'run_rate_x', 'Match_y', 'D11_y',
       'WK_y', 'Bat_y', 'AR_y', 'Bowl_y', 'Frgnr_y', 'C_y', 'VC_y', 'Top1_y',
       'Top2_y', 'Top3_y', 'Top4_y', 'Top5_y', 'ovrs_y', 'runs_y',
       'run_rate_y', 'runs_pp%_y', 'runs_last5%_y', 'wkts_pp_taken_y',
       'wkts_by_spin_y', 'wkts_by_pacer_y', 'NRR_x', 'NRR_y'],
      dtype='object')

,Date,Game,Team,Vs,Match_x,Venue,Toss,Inn,Result,ovrs_x,runs_x,runs_pp%_x,runs_last5%_x,wkts_pp_taken_x,wkts_by_spin_x,wkts_by_pacer_x,C_x,VC_x,Top1_x,Top2_x,Top3_x,Top4_x,Top5_x,WK_x,Bat_x,AR_x,Bowl_x,Frgnr_x,Top01%,Top02%,Top03%,Top04%,Top05%,Top06%,Top07%,Top08%,Top09%,Top10%,Top11%,Top01C%,Top02VC%,D11_x,run_rate_x,Match_y,D11_y,WK_y,Bat_y,AR_y,Bowl_y,Frgnr_y,C_y,VC_y,Top1_y,Top2_y,Top3_y,Top4_y,Top5_y,ovrs_y,runs_y,run_rate_y,runs_pp%_y,runs_last5%_y,wkts_pp_taken_y,wkts_by_spin_y,wkts_by_pacer_y,NRR_x,NRR_y
33,17-10-2020,34,CSK,DC,9,Sharjah,Won,First,Lost,120.0,179.0,21.79,37.43,2.0,0.0,5.0,None,Bat,DuPlesis,ChaharD,Rayudu,Watson,Jadeja,0.0,3.0,2.0,1.0,3.0,70.33,85.54,40.18,49.38,54.85,73.72,30.87,90.71,79.60,18.24,75.11,7.67,11.60,410.0,8.95,9,434.0,1.0,1.0,1.0,2.0,3.0,Bat,None,Dhawan,Nortje,Rabada,Axar,Stoinis,119.0,185.0,9.327731,22.16,30.27,1.0,0.0,4.0,-0.377731,0.377731
34,18-10-2020,35,KKR,SRH,9,Abu Dhabi,Lost,First,Won,120.0,163.0,29.45,35.58,0.0,1.0,5.0,Bowl,Bat,Fergusan,Gill,Rana,Morgan,Karthik,1.0,3.0,0.0,2.0,2.0,30.05,74.91,78.90,51.89,85.34,34.69,40.36,65.32,41.74,49.24,20.09,0.73,14.96,418.5,8.15,9,238.0,1.0,2.0,1.0,1.0,3.0,None,None,Warner,Natrajan,Bairstow,Shankar,Williamson,120.0,163.0,8.150000,35.58,33.13,1.0,1.0,4.0,0.000000,0.000000
35,18-10-2020,36,KXIP,MI,9,Dubai,Lost,Second,Won,120.0,176.0,28.98,28.98,3.0,1.0,5.0,Bat,None,Rahul,Shami,Arshdeep,Pooran,Jordan,1.0,2.0,0.0,2.0,1.0,79.87,59.39,80.14,57.33,62.73,33.85,39.03,57.77,37.55,16.39,11.69,16.50,1.18,363.0,8.80,9,386.5,1.0,1.0,2.0,2.0,2.0,None,Bowl,Bumrah,DeKock,ChaharR,Pollard,Krunal,120.0,176.0,8.800000,24.43,35.28,1.0,2.0,3.0,0.000000,0.000000
36,19-10-2020,37,CSK,RR,10,Abu Dhabi,Lost,Second,Won,105.0,126.0,24.60,14.29,2.0,2.0,2.0,WK,None,ChaharD,Dhoni,Jadeja,Hazlewood,CurranS,1.0,1.0,1.0,2.0,3.0,72.31,68.63,32.09,34.62,57.59,91.31,23.47,0.78,76.34,73.37,46.84,9.68,2.15,363.0,7.20,10,256.0,1.0,2.0,1.0,2.0,2.0,None,Bowl,Buttler,Tewatia,Archer,Gopal,Smith,120.0,125.0,6.250000,34.40,28.80,3.0,0.0,3.0,0.950000,-0.950000
37,20-10-2020,38,DC,KXIP,10,Dubai,Won,First,Lost,120.0,164.0,32.32,28.66,3.0,2.0,2.0,Bat,None,Dhawan,Rabada,Pant,AshwinR,Axar,1.0,1.0,0.0,2.0,1.0,65.50,43.82,28.61,79.16,82.77,19.10,72.70,28.58,33.94,84.63,44.17,11.38,2.50,416.0,8.20,10,376.5,1.0,2.0,2.0,2.0,4.0,None,WK,Pooran,Maxwell,Shami,Neesham,Gayle,114.0,167.0,8.789474,34.13,15.57,1.0,1.0,4.0,-0.589474,0.589474

In [72]:
for T in df['Team'].unique():
    a1 = df[df['Team']==T]['runs_x'].sum()/df[df['Team']==T]['ovrs_x'].sum()
    a2 = df[df['Team']==T]['runs_y'].sum()/df[df['Team']==T]['ovrs_y'].sum()
    print(T, (a1-a2)*6)

CSK -0.24138367234048896
DC 0.6279605263157895
RCB 0.3868517258296795
KKR -0.7227312044343228
KXIP -0.17180851389492613
MI 1.2482330468003826
RR 0.25000000000000044

In [15]:
# for a in np.arange(0,20.1,0.1):
#     if (a*10-int(a)*10)<=5:
#         print(int(int(a)*6+a*10-int(a)*10))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120

In [26]:
df.columns

Index(['Date', 'Game', 'Team', 'Vs', 'Match_x', 'Venue', 'Toss', 'Inn',
       'Result', 'ovrs_x', 'runs_x', 'runs_pp%_x', 'runs_last5%_x',
       'wkts_pp_taken_x', 'wkts_by_spin_x', 'wkts_by_pacer_x', 'C_x', 'VC_x',
       'Top1_x', 'Top2_x', 'Top3_x', 'Top4_x', 'Top5_x', 'WK_x', 'Bat_x',
       'AR_x', 'Bowl_x', 'Frgnr_x', 'Top01%', 'Top02%', 'Top03%', 'Top04%',
       'Top05%', 'Top06%', 'Top07%', 'Top08%', 'Top09%', 'Top10%', 'Top11%',
       'Top01C%', 'Top02VC%', 'D11_x', 'run_rate_x', 'Match_y', 'D11_y',
       'WK_y', 'Bat_y', 'AR_y', 'Bowl_y', 'Frgnr_y', 'C_y', 'VC_y', 'Top1_y',
       'Top2_y', 'Top3_y', 'Top4_y', 'Top5_y', 'ovrs_y', 'runs_y',
       'run_rate_y', 'runs_pp%_y', 'runs_last5%_y', 'wkts_pp_taken_y',
       'wkts_by_spin_y', 'wkts_by_pacer_y', 'NRR_x', 'NRR_y'],
      dtype='object')

In [ ]:
for c in ['WK', 'Bat', 'AR', 'Bowl', 'Frgnr']: df[c] = df[c+'_x']+df[c+'_y']

In [2]:
P_List = list(df['Top1'].unique())+list(df['Top2'].unique())+list(df['Top3'].unique())+list(df['Top4'].unique())+list(df['Top5'].unique())
# print(np.unique(P_List))

WK = ['WK','Bairstow', 'Buttler', 'DeKock', 'DeVilliers', 'Dhoni',
      'Jagdeesan', 'Karthik', 'Kishan', 'Pant', 'Pooran', 'Saha',
      'Samson']
Bat = ['Bat','Agarwal', 'Dhawan', 'DuPlesis', 'Finch', 'Garg', 'Gayle', 'Gill',
       'Hardik','Hetmayer', 'Iyer', 'Jadhav', 'Jaiswal', 'Kohli', 'Lomror',
       'Mandeep', 'Morgan', 'Padikkal', 'Pandey', 'Parag', 'Rahul',
       'Rana', 'Rayudu', 'Rohit', 'Sarfaraj', 'Shaw', 'Smith', 'Tiwary',
       'Tripathi','Uthappa', 'Warner', 'Watson', 'Williamson']
AR = ['AR','Abhishek', 'Axar', 'Bravo', 'CurranS', 'Dube', 'Gowtham', 'Jadeja',
      'Krunal', 'Maxwell', 'Moin', 'Morris', 'Narine', 'Neesham', 'Pollard', 'Russell',
      'Samad', 'Shankar', 'Siraj', 'Stoinis', 'Stokes', 'Sundar', 'Tewatia']
Bowl = ['Bowl','Archer', 'Arshdeep', 'AshwinM', 'AshwinR', 'Bishnoi', 'Boult', 'Bumrah', 'Chahal',
        'ChaharD', 'ChaharR', 'Chawla', 'Cottrell', 'Cummins', 'CurranT', 'Deshpande', 'Fergusan', 'Gopal', 
        'Harshal', 'Hazlewood', 'Jordan', 'Kaul', 'Khaleel', 'Krishna', 'Kumar', 'Mavi', 'Mishra', 'Nagarkotti', 'Natrajan',
        'Ngidi', 'Nortje', 'Pattinson', 'Rabada', 'Rajput', 'Rashid', 'Saini',
        'Sandeep', 'Shami', 'Thakur', 'Tyagi', 'Tye', 'Udana', 'Unadkat', 'Varun', 'Yadav']

for c in ['Top1', 'Top2', 'Top3', 'Top4','Top5','C','VC']:
    df[c] = np.where(df[c].isin(WK)==True,0,df[c])
    df[c] = np.where(df[c].isin(Bat)==True,1,df[c])
    df[c] = np.where(df[c].isin(AR)==True,2,df[c])
    df[c] = np.where(df[c].isin(Bowl)==True,3,df[c])
    df[c] = np.where(df[c]=='None',4,df[c])

for c in ['NRR','runs_pp%','wkts_pp_taken','wkts_by_spin','wkts_by_pacer']:
    df[c] = df.groupby('Team')[c].cumsum()/df['Match']
    df['Prev_'+c] = df.groupby('Team')[c].shift(1).fillna(0)
    
le = LabelEncoder()
for c in ['Team', 'Vs', 'Venue', 'Toss', 'Inn', 'Result']:
    df[c] = le.fit_transform(df[c])
    # print(le.classes_)
    
# # 'Team', 'Vs', 'Venue', 'Toss', 'Inn',
# print(sorted(finaldf['Team'].unique()))
# print(sorted(finaldf['Venue'].unique()))

Team_Dict = {'CSK':0, 'DC':1, 'KKR':2, 'KXIP':3, 'MI':4, 'RCB':5, 'RR':6, 'SRH':7}
Venue_Dict = {'Abu Dhabi':0, 'Dubai':1, 'Sharjah':2}
Toss_Dict = {'Lost':0, 'Won':1}
Inn_Dict = {'First':0, 'Second':1}

(76, 44) Index(['Date', 'Game', 'Team', 'Vs', 'Match', 'Venue', 'Toss', 'Inn', 'Result',
       'Top01%', 'Top02%', 'Top03%', 'Top04%', 'Top05%', 'Top06%', 'Top07%',
       'Top08%', 'Top09%', 'Top10%', 'Top11%', 'Top01C%', 'Top02VC%', 'D11',
       'WK', 'Bat', 'AR', 'Bowl', 'Frgnr', 'C', 'VC', 'Top1', 'Top2', 'Top3',
       'Top4', 'Top5', 'ovrs', 'runs', 'run_rate', 'NRR', 'runs_pp%',
       'runs_last5%', 'wkts_pp_taken', 'wkts_by_spin', 'wkts_by_pacer'],
      dtype='object')

In [3]:
T1 = 'RR'
T2 = 'SRH'
V = 'Dubai'
Toss = 'Lost'
Inn = 'First'

B = pd.DataFrame([])
B.loc[0,'Team'] = Team_Dict[T1]
B.loc[0,'Vs'] = Team_Dict[T2]
B.loc[0,'Venue'] = Venue_Dict[V]
B.loc[0,'Toss'] = Toss_Dict[Toss]
B.loc[0,'Inn'] = Inn_Dict[Inn]
B.loc[0,'Prev_NRR'] = df[df['Team']==Team_Dict[T1]]['NRR'].mean()
B.loc[0,'Prev_runs_pp%'] = df[df['Team']==Team_Dict[T1]]['runs_pp%'].mean()
B.loc[0,'Prev_wkts_pp_taken'] = df[df['Team']==Team_Dict[T1]]['wkts_pp_taken'].mean()
B.loc[0,'Prev_wkts_by_spin'] = df[df['Team']==Team_Dict[T1]]['wkts_by_spin'].mean()
B.loc[0,'Prev_wkts_by_pacer'] = df[df['Team']==Team_Dict[T1]]['wkts_by_pacer'].mean()
B1 = B.copy()

C = pd.DataFrame([])
C.loc[0,'Team'] = Team_Dict[T2]
C.loc[0,'Vs'] = Team_Dict[T1]
C.loc[0,'Venue'] = Venue_Dict[V]
C.loc[0,'Toss'] = 1 - Toss_Dict[Toss]
C.loc[0,'Inn'] = 1 - Inn_Dict[Inn]
C.loc[0,'Prev_NRR'] = df[df['Team']==Team_Dict[T2]]['NRR'].mean()
C.loc[0,'Prev_runs_pp%'] = df[df['Team']==Team_Dict[T2]]['runs_pp%'].mean()
C.loc[0,'Prev_wkts_pp_taken'] = df[df['Team']==Team_Dict[T2]]['wkts_pp_taken'].mean()
C.loc[0,'Prev_wkts_by_spin'] = df[df['Team']==Team_Dict[T2]]['wkts_by_spin'].mean()
C.loc[0,'Prev_wkts_by_pacer'] = df[df['Team']==Team_Dict[T2]]['wkts_by_pacer'].mean()
C1 = C.copy()

print(pd.concat([B,C], axis=0).T)

                            0          0
Team                 6.000000   7.000000
Vs                   7.000000   6.000000
Venue                1.000000   1.000000
Toss                 0.000000   1.000000
Inn                  0.000000   1.000000
Prev_NRR            -0.328569  -0.182693
Prev_runs_pp%       26.986912  28.567683
Prev_wkts_pp_taken   0.696944   1.287125
Prev_wkts_by_spin    2.162262   1.518871
Prev_wkts_by_pacer   2.684048   2.876102

In [4]:
X = df[['Team', 'Vs', 'Venue', 'Toss', 'Inn',
        'Prev_NRR', 'Prev_runs_pp%',
        'Prev_wkts_pp_taken', 'Prev_wkts_by_spin', 'Prev_wkts_by_pacer'
       ]].values
for c in ['Result','Top01%', 'Top02%', 'Top03%', 'Top04%', 'Top05%',
          'Top06%', 'Top07%', 'Top08%', 'Top09%', 'Top10%',
          'Top11%','Top01C%','Top02VC%','D11']:
    Y = df[c].round(0).values

    # X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
    X_train, y_train = X, Y

    model = LogisticRegression()
    # model = LinearRegression()
    model.fit(X_train,y_train)

    y_pred = model.predict(X_train)
    # print(accuracy_score(y_train,y_pred))
    # print(r2_score(y_train,y_pred))
    # if c!='D11': plt.scatter(y_train,y_pred)
    # print(pd.concat([pd.DataFrame(y_train).reset_index(drop=True),pd.DataFrame(y_pred).reset_index(drop=True)],axis=1))

    # print(c,model.predict(B1.values)[0],model.predict(C1.values)[0])
    B.loc[0,c] = model.predict(B1.values)[0]
    C.loc[0,c] = model.predict(C1.values)[0]

B1 = B.copy()
C1 = C.copy()
X = df[['Team', 'Vs', 'Venue', 'Toss', 'Inn',
        'Prev_NRR', 'Prev_runs_pp%',
        'Prev_wkts_pp_taken', 'Prev_wkts_by_spin', 'Prev_wkts_by_pacer',
        'Result','Top01%', 'Top02%', 'Top03%', 'Top04%', 'Top05%',
        'Top06%', 'Top07%', 'Top08%', 'Top09%', 'Top10%',
        'Top11%','Top01C%','Top02VC%','D11']].values
for c in ['C', 'VC', 'Top1', 'Top2','Top3', 'Top4', 'Top5',
          'WK', 'Bat', 'AR', 'Bowl', 'Frgnr','C','VC']:
    Y = df[[c]].values
    # print(df[c].unique())

    # X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
    X_train, y_train = X, Y

    model = XGBClassifier()
    model.fit(X_train,y_train)

    y_pred = model.predict(X_train)
    # print(r2_score(y_train,y_pred))
    # print(pd.concat([pd.DataFrame(y_train).reset_index(drop=True),pd.DataFrame(y_pred).reset_index(drop=True)],axis=1))

    # print(c,model.predict(B1.values)[0],model.predict(C1.values)[0])
    B.loc[0,c] = model.predict(B1.values)[0]
    C.loc[0,c] = model.predict(C1.values)[0]

print(np.unique(sorted(list(B.iloc[0,11:21])+list(C.iloc[0,11:21]))))
print(pd.concat([B,C], axis=0).T)

[15. 41. 48. 59. 65. 66. 67. 71. 78. 79. 89.]
                             0           0
Team                  6.000000    7.000000
Vs                    7.000000    6.000000
Venue                 1.000000    1.000000
Toss                  0.000000    1.000000
Inn                   0.000000    1.000000
Prev_NRR             -0.328569   -0.182693
Prev_runs_pp%        26.986912   28.567683
Prev_wkts_pp_taken    0.696944    1.287125
Prev_wkts_by_spin     2.162262    1.518871
Prev_wkts_by_pacer    2.684048    2.876102
Result                1.000000    0.000000
Top01%               71.000000   71.000000
Top02%               65.000000   65.000000
Top03%               79.000000   79.000000
Top04%               66.000000   66.000000
Top05%               15.000000   15.000000
Top06%               48.000000   48.000000
Top07%               59.000000   59.000000
Top08%               78.000000   67.000000
Top09%               89.000000   89.000000
Top10%               41.000000   41.000000
Top11%               21.000000   12.000000
Top01C%               3.000000   13.000000
Top02VC%              5.000000    3.000000
D11                 254.000000  381.000000
C                     4.000000    0.000000
VC                    4.000000    4.000000
Top1                  2.000000    0.000000
Top2                  1.000000    1.000000
Top3                  0.000000    1.000000
Top4                  3.000000    0.000000
Top5                  0.000000    2.000000
WK                    1.000000    1.000000
Bat                   1.000000    2.000000
AR                    1.000000    0.000000
Bowl                  2.000000    2.000000
Frgnr                 1.000000    4.000000

In [51]:
# Venues = sorted(list(df['Venue'].unique()))
# Teams = sorted(list(df['Team'].unique()))
# print(Venues,Teams)

# # Validation
# df1 = df[df['Date']=='2020-10-02']
# df = df[~(df.index.isin(df1.index))]
# df1 = df1.groupby(['Team']).mean().reset_index().T.drop('Team', axis=0)
# df1.rename({0:T1,1:T2},axis=1,inplace=True)
# df1

# A = df.groupby(['Inn']).mean().reset_index().T
# A.rename({0:'IPL_1stInn',1:'IPL_2ndInn'},axis=1,inplace=True)

# B = df.groupby(['Venue']).mean().reset_index()
# B = B[B['Venue']==V].drop('Venue', axis=1).reset_index(drop=True).T
# B.rename({0:V+'_perf'},axis=1,inplace=True)

# C = df.groupby(['Team']).mean().reset_index()
# C = C[C['Team'].isin([T1,T2])].sort_values('Team').reset_index(drop=True).T.drop('Team', axis=0)
# C.rename({0:T1+'_perf',1:T2+'_perf'},axis=1,inplace=True)

# D = df.groupby(['Venue','Inn']).mean().reset_index()
# D = D[D['Venue']==V].drop('Venue', axis=1).reset_index(drop=True).T
# D.rename({0:V+'_1stInn',1:V+'_2ndInn'},axis=1,inplace=True)

# E = df.groupby(['Team','Inn']).mean().reset_index()
# E1 = E[E['Team']==T1].drop('Team', axis=1).reset_index(drop=True).T
# E1.rename({0:T1+'_1stInn',1:T1+'_2ndInn'},axis=1,inplace=True)
# E2 = E[E['Team']==T2].drop('Team', axis=1).reset_index(drop=True).T
# E2.rename({0:T2+'_1stInn',1:T2+'_2ndInn'},axis=1,inplace=True)

# # # Predict
# # F = pd.concat([A,B,C,D,E1,E2],axis=1)

# # Validate
# F = pd.concat([A,B,C,D,E1,E2,df1],axis=1).drop('Inn', axis=0)
# F

# plt.hist(df[df['Venue']==V]['C'])
# plt.hist(df[df['Venue']==V]['VC'])

# plt.hist(df[df['Inn']=='First']['C'])
# plt.hist(df[df['Inn']=='First']['VC'])

# plt.hist(df[df['Inn']=='Second']['C'])
# plt.hist(df[df['Inn']=='Second']['VC'])