In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt
import glob
import re
import math

In [ ]:
a = 2.3333

In [ ]:
round(a,2)

In [ ]:
np.ceil(a)

In [ ]:
np.floor(a)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

# Series

## Create Series

In [ ]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
v

In [ ]:
s1 = pd.Series(v)
s1

In [ ]:
#Datatype of Series
s1.dtype

In [ ]:
# number of bytes allocated to each item
len(s1)

In [ ]:
# Number of bytes consumed by Series
s1.nbytes

In [ ]:
# Shape of the Series
s1.shape

In [ ]:
# number of dimensions
s1.ndim

In [ ]:
# Length of Series
len(s1)

In [ ]:
s1.count()

In [ ]:
s1.size

In [ ]:
# Create series from List 
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

In [ ]:
# Modifying index in Series
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
s1

In [ ]:
# # Create Series using Random and Range function
# import random
# random.seed(1234)

In [ ]:
import numpy.random as rnd
v2 = rnd.random(10)
v2

In [ ]:
a = range(0,10)
np.array(a)

In [ ]:
(a,b)
[a,b]
[a,b)
(a,b]

In [ ]:
ind2 = np.arange(1.1,2.1,0.1)
ind2

In [ ]:
pd.Series?

In [ ]:
s = pd.Series(v2,ind2)
s
# v2 , ind2 , s

In [ ]:
# Creating Series from Dictionary
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40}
s3 = pd.Series(dict1)
s3

In [ ]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

## Slicing Series

In [ ]:
s

In [ ]:
# Return all elements of the series
s[:]

In [ ]:
s.iloc[0:5]

In [ ]:
s.loc[1.1]

In [ ]:
s.iloc[0]

In [ ]:
# First three element of the Series
s.iloc[0:3]

In [ ]:
s.iloc[-3:]

In [ ]:
# Last element of the Series
s[-1:]

In [ ]:
# Fetch first 4 elements in a series
s[:4]

In [ ]:
# Return all elements of the series except last two elements.
s[:-2]

In [ ]:
# Return all elements of the series except last element.
s[:-1]

In [ ]:
# Return last two elements of the series
s[-2:]

In [ ]:
# # Return last element of the series
s[-1:]

In [ ]:
s[-3:-1]

## Append Series

In [ ]:
s2 = s.copy()
s2

In [ ]:
s3

In [ ]:
# Append S2 & S3 Series
s4 = s2.append(s3)
s4

In [ ]:
s4.drop('a4', inplace=False)

In [ ]:
# When "inplace=False" it will return a new copy of data with the operation performed
s4.drop('a4', inplace=True)

In [ ]:
s4

In [ ]:
s4

In [ ]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4', inplace=True)
s4

In [ ]:
s4 = s4.append(pd.Series({'a4': 7}))
s4

## Operation on Series

In [ ]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)
s1 , s2

In [ ]:
# Addition of two series
s1.add(s2)

In [ ]:
# Subtraction of two series
s1.sub(s2)

In [ ]:
# Subtraction of two series
s1.subtract(s2)

In [ ]:
# Increment all numbers in a series by 9
s1.add(9)

In [ ]:
# Multiplication of two series
s1.mul(s2)

In [ ]:
# Multiplication of two series
s1.multiply(s2)

In [ ]:
# Multiply each element by 1000
s1.multiply(1000)

In [ ]:
# Division
s1.divide(s2)

In [ ]:
# Division
s1.div(s2)

In [ ]:
# MAX number in a series
s1.max()

In [ ]:
# Min number in a series
s1.min()

In [ ]:
# Average
s1.mean()

In [ ]:
# Median
s1.median()

In [ ]:
# Standard Deviation
s1.std()

In [ ]:
# Series comparison
s1.equals(s2)

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

In [ ]:
s5.value_counts()

# DataFrame

## Create DataFrame

In [ ]:
df = pd.DataFrame()
df

In [ ]:
# Create Dataframe using List
lang = ['Java' , 'Python' , 'C' , 'C++']
df = pd.DataFrame(lang)
df

In [ ]:
# Add column in the Dataframe
rating = [1,2,3,4]
df[1] = rating
df

In [ ]:
df.columns

In [ ]:
df.columns = ['Language','Rating']

In [ ]:
df

In [ ]:
# Create Dataframe from Dictionary

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df2 = pd.DataFrame(data)
df2

In [ ]:
df3 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b'])
df3

In [ ]:
df4 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c'])
df4

In [ ]:
df5 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c' , 'd'])
df5

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

In [ ]:
df5

In [ ]:
# Create Dataframe from Dictionary
df0 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df0

In [ ]:
# Create a DataFrame from Dictionary of Series
dict = {'A' : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df1 = pd.DataFrame(dict)
df1

#### Dataframe of Random Numbers with Date Indices

In [ ]:
pd.date_range?

In [ ]:
dates = pd.date_range(start='2020-01-20', end='2020-01-26')
dates

In [ ]:
dates = pd.date_range('today',periods= 7)
dates

In [ ]:
dates = pd.date_range(start='2020-01-20', periods=7)
dates

In [ ]:
M = np.random.random((7,7))
M

In [ ]:
dframe = pd.DataFrame(M , index=dates)
dframe

In [ ]:
#Changing Column Names
dframe.columns = ['C1' , 'C2' , 'C3', 'C4', 'C5', 'C6', 'C7']
dframe

In [ ]:
# List Index
dframe.index

In [ ]:
# List Column Names
dframe.columns

In [ ]:
# Datatype of each column
dframe.dtypes

In [ ]:
dframe.sort_values?

In [ ]:
# Sort Dataframe by Column 'C1' in Ascending Order
dframe.sort_values(by='C1', ascending=False)

In [ ]:
# Sort Dataframe by Column 'C1' in Descending Order
dframe.sort_values(by='C1' , ascending=False)

## Delete Column in DataFrame

In [ ]:
df1

In [ ]:
# Delete Column using "del" function
del df1['B']

In [ ]:
df1

In [ ]:
df5

In [ ]:
# Delete Column using pop()
df5.pop('c')

In [ ]:
df5

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11],    index=['a', 'b', 'c','d']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df12 = pd.DataFrame(dict)
df12

In [ ]:
# df12.drop(['A'], axis=1,inplace=True)
# df12 = df12.drop(['A'], axis=1)
df12 = df12.drop(columns=['A'])
df12 = df12.rename({'B':'AAA'}, axis=1)
df12

## Delete Rows in DataFrame

In [ ]:
col1 = np.linspace(10, 100, 30)
col2 = np.random.randint(10,100,30)
df10 = pd.DataFrame({"C1" : col1 , "C2" :col2})
df10

In [ ]:
# Delete rows with index values 17,18,19
df10 = df10.drop([17,18,19], axis=0)
df10

In [ ]:
# Delete rows with index values 16 without using assignment operation
df10.drop([16], axis=0,inplace=True)
df10

In [ ]:
df10.drop(df10.index[5] , inplace=True)
df10

In [ ]:
#Delete first three rows
# df10 = 
df10.iloc[3:,:]
# df10

In [ ]:
#Delete last four rows
df10 = df10.iloc[:-4,]
df10

In [ ]:
#Keep top 10 rows
df10 = df10.iloc[:10,]
df10

In [ ]:
df10

In [ ]:
list(df10.index[df10['C2'] >= 58])
# .tolist()

In [ ]:
# Delete row based on Column value
df10.drop(df10.index[df10['C2'] == 56].tolist() , axis=0,inplace=True)
df10

In [ ]:
# Delete row based on Column value
df10 = df10.drop(df10[df10["C2"]==79].index)
df10

In [ ]:
# Delete all rows with column C2 value 14
df10 = df10[df10.C2 != 44]
df10

In [ ]:
# Delete all rows with column C2 value 88 & 55 using isin operator
df10 = df10[~(df10.C2.isin ([21,48]))]
df10

In [ ]:
# Keep all rows with column C2 value 10,89,31 & 64 using isin operator
df10 = df10[df10.C2.isin ([42,76])]
df10

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11],    index=['a', 'b', 'c','d']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df11 = pd.DataFrame(dict)
df11

In [ ]:
#Delete all rows with label "d"
df11.drop("d", axis=0,inplace=True)
df11

In [ ]:
df13 = pd.DataFrame({ 'ID' :[1,2,3,4] , 
                     'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 
                     'location' : ['India' , 'Australia','UK' , 'US'] })
df13

In [ ]:
ind = df13[((df13.Name == 'Ross') &(df13.ID == 3) & (df13.location == 'UK'))].index
df13.drop(ind,inplace=True)
df13

## Data Selection in Dataframe

In [ ]:
df

In [ ]:
df.index = [1,2,3,4]
df

In [ ]:
# Data selection using row label
df.loc[1]

In [ ]:
# Data selection using position (Integer Index based)
df.iloc[1]

In [ ]:
df.loc[1:2]

In [ ]:
df.iloc[1:2]

In [ ]:
# Data selection based on Condition
df.loc[df.Rating > 2]

In [ ]:
df1

In [ ]:
# Row & Column label based selection
df1.loc['a']

In [ ]:
df1.iloc['a'] # This will throw error because iloc will not work on labels

In [ ]:
dframe

In [ ]:
dframe[0:2]

In [ ]:
# Data selection using Row Label
dframe['2020-01-20':'2020-01-22']

In [ ]:
# Selecting all rows & selected columns
dframe.loc[:,['C1' , 'C7']]

In [ ]:
#row & column label based selection
dframe.loc['2020-01-20' : '2020-01-22',['C1' , 'C7']]

In [ ]:
# Data selection based on Condition
dframe[dframe['C1'] > 0.5]

In [ ]:
# Data selection based on Condition
dframe[(dframe['C1'] > 0.5) & (dframe['C4'] > 0.5)]

In [ ]:
# Data selection using position (Integer Index based)
dframe.iloc[0][0]

In [ ]:
# Select all rows & first three columns
dframe.iloc[:,0:3]

In [ ]:
dframe.iloc[0][0] = 10

In [ ]:
# Display all rows where C1 has value of 10 or 20
dframe[dframe['C1'].isin([10,20])]

## Set Value

In [ ]:
# Set value of 888 for all elements in column 'C1'
dframe['C1'] = 888
dframe

In [ ]:
# Set value of 777 for first three rows in Column 'C6'
dframe.at[0:3,'C6'] = 777

In [ ]:
dframe

In [ ]:
# Set value of 333 in first row and third column
dframe.iat[0,2] = 333

In [ ]:
dframe

In [ ]:
dframe.iloc[0,2] = 555
dframe

In [ ]:
# Create Copy of the calling objects data along with indices.
# Modifications to the data or indices of the copy will not be reflected in the original object 
dframe1 = dframe.copy(deep=True)

In [ ]:
dframe1[(dframe1['C1'] > 0.5) & (dframe1['C4'] > 0.5)] = 0

In [ ]:
dframe1[dframe1['C1'] == 0]

In [ ]:
# Replace zeros in Column C1 with 99
dframe1[dframe1['C1'].isin([0])] = 99
dframe1

In [ ]:
dframe

In [ ]:
# Display all rows where value of C1 is 99
dframe1[dframe1['C1'] == 99]

## Dealing with NULL Values

In [ ]:
dframe.at[0:8 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Detect Non-Missing Values
# It will return True for NOT-NULL values and False for NULL values
dframe.notna()

In [ ]:
# Detect Missing or NULL Values
# It will return True for NULL values and False for NOT-NULL values
dframe.isna()

In [ ]:
# Fill all NULL values with 1020
dframe = dframe.fillna(1020)
dframe

In [ ]:
dframe.at[0:5 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Replace Null values in Column 'C5' with number 123
# Replace Null values in Column 'C6' with number 789
dframe.fillna(value={'C5' : 123 , 'C6' : 789})

In [ ]:
#Replace first NULL value in Column C7 with 789
dframe.fillna(value={'C7' : 789} , limit=1)

In [ ]:
# Drop Rows with NULL values
dframe.dropna()

In [ ]:
# Drop Columns with NULL values
dframe.dropna(axis='columns')

In [ ]:
dframe

In [ ]:
# Drop Rows with NULL values present in C5 or C6
dframe.dropna(subset=['C5' ,'C6'])

## Descriptive Statistics

In [ ]:
# Fill NULL values with 55
dframe.fillna(55 , inplace=True)
dframe

In [ ]:
# Mean of all Columns
dframe.mean()

In [ ]:
# Max value per column
dframe.max()

In [ ]:
# Min value per column
dframe.min()

In [ ]:
# Median 
dframe.median()

In [ ]:
dframe.std() #Standard Deviation

In [ ]:
dframe.var()  #Variance

In [ ]:
#Lower Quartile / First Quartile
dframe.quantile(0.25)

In [ ]:
#Second Quartile / Median
dframe.quantile(0.50)

In [ ]:
# Upper Quartile
dframe.quantile(0.75)

In [ ]:
 #IQR (Interquartile Range)
dframe.quantile(0.75) - dframe.quantile(0.25)

In [ ]:
# SUM of column values
dframe.sum()

In [ ]:
# GENERATES DESCRIPTIVE STATS
dframe.describe()

In [ ]:
#Return unbiased skew
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.skew()

In [ ]:
# Return unbiased kurtosis using Fisherâ€™s definition of kurtosis
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.kurt()

In [ ]:
#Correlation
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.corr()

In [ ]:
#Covariance
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.cov()

In [ ]:
import statistics as st
dframe.at[3:6,'C1'] = 22
dframe

In [ ]:
# Average 
st.mean(dframe['C1'])

In [ ]:
# Hormonic Mean
st.harmonic_mean(dframe['C1'])

In [ ]:
#Returns average of the two middle numbers when length is EVEN
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

In [ ]:
# low median of the data with EVEN length
st.median_low(arr)

In [ ]:
# High median of the data with EVEN length
st.median_high(arr)

In [ ]:
# Mode of Dataset
st.mode(dframe['C7'])

In [ ]:
# Sample Variance
st.variance(dframe['C1'])

In [ ]:
#Population Variance
st.pvariance(dframe['C1'])

In [ ]:
#Sample  Standard Deviation
st.stdev(dframe['C1'])

In [ ]:
#Population Standard Deviation
st.pstdev(dframe['C1'])

## Apply function on Dataframe

In [ ]:
dframe

In [ ]:
# Finding MAX value in Columns
dframe.apply(max)

In [ ]:
# Finding minimum value in Columns
dframe.apply(min)

In [ ]:
#Sum of Column Values
dframe.apply(sum)

In [ ]:
#Sum of Column Values
dframe.apply(np.sum)

In [ ]:
# Sum of rows
dframe.apply(np.sum ,axis=1)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(np.sqrt)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(math.sqrt)

In [ ]:
dframe.applymap(float)

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: min(x))

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: x*x)

# Merge Dataframes

In [ ]:
daf1 =  pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 'Name': ['Asif', 'Basit', 'Bran', 'John', 'David']})
daf1

In [ ]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

In [ ]:
# Inner Join
pd.merge(daf1, daf2, on='id', how='inner')

In [ ]:
# Full Outer Join
pd.merge(daf1, daf2, on='id', how='outer')

In [ ]:
# Left Outer Join
pd.merge(daf1, daf2, on='id', how='left')

In [ ]:
#Right Outer Join
pd.merge(daf1, daf2, on='id', how='right')

# Importing multiple CSV files in DataFrame

In [2]:
# https://github.com/CSSEGISandData/COVID-19
    
# Append all CSV files 
path = r'C:\Users\PR269KB\Google Drive\Career\06_QuickXpert\QXI_DataScience_Sujeet\Unit_15_Projects_Case_Studies\csse_covid_19_data\csse_covid_19_daily_reports'
path

'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports'

In [3]:
filenames = glob.glob(path + "/*.csv")
filenames

['C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-22-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-23-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-24-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-25-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-26-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-27-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-28-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-29-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-30-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\01-31-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-01-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-02-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-03-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-04-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-05-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-06-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-07-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-08-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-09-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-10-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-11-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-12-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-13-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-14-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-15-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-16-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-17-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-18-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-19-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-20-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-21-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-22-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-23-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-24-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-25-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-26-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-27-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-28-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\02-29-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-01-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-02-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-03-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-04-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-05-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-06-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-07-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-08-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-09-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-10-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-11-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-12-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-13-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-14-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-15-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-16-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-17-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-18-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-19-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-20-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-21-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-22-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-23-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-24-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-25-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-26-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-27-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-28-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-29-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-30-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\03-31-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-01-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-02-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-03-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-04-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-05-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-06-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-07-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-08-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-09-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-10-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-11-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-12-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-13-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-14-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-15-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-16-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-17-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-18-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-19-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-20-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-21-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-22-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-23-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-24-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-25-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-26-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-27-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-28-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-29-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\04-30-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-01-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-02-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-03-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-04-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-05-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-06-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-07-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-08-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-09-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-10-2020.csv',
 'C:\\Users\\PR269KB\\Google Drive\\Career\\06_QuickXpert\\QXI_DataScience_Sujeet\\Unit_15_Projects_Case_Studies\\csse_covid_19_data\\csse_covid_19_daily_reports\\05-11-2020.csv',

In [4]:
len(filenames)

276

In [5]:
pd.DataFrame?

In [19]:
from IPython.display import Image, SVG, HTML, display, clear_output

In [20]:
clear_output?

In [21]:
covid = pd.DataFrame()
for f in filenames:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)
    print(filenames.index(f))
    clear_output(wait=False)

In [23]:
covid.shape

(796500, 19)

In [24]:
# Top 10 rows of the Dataframe
covid = covid[['Confirmed','Country/Region','Deaths','Last Update','Latitude','Longitude','Province/State','Recovered']].dropna().reset_index(drop=True)
covid.head(10)

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
0,66907.0,Mainland China,2761.0,2020-03-01T10:13:19,30.9756,112.2707,Hubei,31536.0
1,1349.0,Mainland China,7.0,2020-03-01T14:13:18,23.3417,113.4244,Guangdong,1016.0
2,1272.0,Mainland China,22.0,2020-03-01T14:13:18,33.8820,113.6140,Henan,1198.0
3,1205.0,Mainland China,1.0,2020-03-01T10:13:33,29.1832,120.0934,Zhejiang,1046.0
4,1018.0,Mainland China,4.0,2020-03-01T10:03:03,27.6104,111.7088,Hunan,866.0
5,990.0,Mainland China,6.0,2020-03-01T10:03:03,31.8257,117.2264,Anhui,873.0
6,935.0,Mainland China,1.0,2020-03-01T01:13:10,27.6140,115.7221,Jiangxi,831.0
7,758.0,Mainland China,6.0,2020-03-01T11:33:03,36.3427,118.1498,Shandong,443.0
8,705.0,Others,6.0,2020-02-29T01:43:02,35.4437,139.6380,Diamond Princess cruise ship,10.0
9,631.0,Mainland China,0.0,2020-03-01T10:03:03,32.9711,119.4550,Jiangsu,536.0

In [25]:
# Bottom 10 rows of the Dataframe
covid.tail(10)

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
2385,1.0,China,0.0,2020-03-11T02:18:14,31.6927,88.0924,Tibet,1.0
2386,1.0,Netherlands,0.0,2020-03-20T21:13:30,18.0425,-63.0548,Sint Maarten,0.0
2387,1.0,US,0.0,2020-03-21T19:43:03,37.0902,-95.7129,US,171.0
2388,1.0,United Kingdom,0.0,2020-03-20T15:13:21,54.2361,-4.5481,Isle of Man,0.0
2389,1.0,United Kingdom,0.0,2020-03-18T11:53:04,16.7425,-62.1874,Montserrat,0.0
2390,0.0,Australia,0.0,2020-03-14T02:33:04,35.4437,139.6380,From Diamond Princess,0.0
2391,0.0,France,0.0,2020-03-18T14:33:15,4.0000,-53.0000,French Guiana,0.0
2392,0.0,France,0.0,2020-03-18T14:33:15,16.2500,-61.5833,Guadeloupe,0.0
2393,0.0,France,0.0,2020-03-18T14:33:15,-12.8431,45.1383,Mayotte,0.0
2394,0.0,France,0.0,2020-03-18T14:33:15,-21.1351,55.2471,Reunion,0.0

In [26]:
# Unique values in Country column
covid['Country/Region'].unique()

array(['Mainland China', 'Others', 'Hong Kong', 'US', 'Taiwan', 'Canada',
       'Macau', 'Australia', 'Hong Kong SAR', 'Taipei and environs',
       'Macao SAR', 'China', 'France', 'Cruise Ship', 'United Kingdom',
       'Denmark', 'Netherlands'], dtype=object)

In [27]:
# Number of Unique values in Country column
covid['Country/Region'].nunique()

17

In [28]:
#Dataframe information
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2395 entries, 0 to 2394
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Confirmed       2395 non-null   float64
 1   Country/Region  2395 non-null   object
 2   Deaths          2395 non-null   float64
 3   Last Update     2395 non-null   object
 4   Latitude        2395 non-null   float64
 5   Longitude       2395 non-null   float64
 6   Province/State  2395 non-null   object
 7   Recovered       2395 non-null   float64
dtypes: float64(5), object(3)
memory usage: 149.8+ KB

In [ ]:
covid.to_csv("",index=False)

In [ ]:
# Reading columns
covid['Country/Region'].head(10)

In [30]:
# Reading columns
df1 = covid[['Country/Region' ,'Province/State','Confirmed' , 'Last Update']]
df1.head(10)

,Country/Region,Province/State,Confirmed,Last Update
0,Mainland China,Hubei,66907.0,2020-03-01T10:13:19
1,Mainland China,Guangdong,1349.0,2020-03-01T14:13:18
2,Mainland China,Henan,1272.0,2020-03-01T14:13:18
3,Mainland China,Zhejiang,1205.0,2020-03-01T10:13:33
4,Mainland China,Hunan,1018.0,2020-03-01T10:03:03
5,Mainland China,Anhui,990.0,2020-03-01T10:03:03
6,Mainland China,Jiangxi,935.0,2020-03-01T01:13:10
7,Mainland China,Shandong,758.0,2020-03-01T11:33:03
8,Others,Diamond Princess cruise ship,705.0,2020-02-29T01:43:02
9,Mainland China,Jiangsu,631.0,2020-03-01T10:03:03

In [ ]:
#Read specific rows 
df1.iloc[1:4]

In [31]:
#Filter data 
df1.loc[df1['Country/Region']== 'China']

     Country/Region  Province/State  Confirmed          Last Update
1048          China           Hubei    67773.0  2020-03-11T10:53:02
1050          China       Guangdong     1356.0  2020-03-11T10:13:06
1051          China           Henan     1273.0  2020-03-11T08:13:09
1052          China        Zhejiang     1215.0  2020-03-11T09:33:12
1053          China           Hunan     1018.0  2020-03-11T02:18:14
...             ...             ...        ...                  ...
2334          China  Inner Mongolia       75.0  2020-03-19T01:03:02
2335          China         Ningxia       75.0  2020-03-16T14:38:45
2360          China           Macau       18.0  2020-03-21T22:13:24
2361          China         Qinghai       18.0  2020-03-11T02:18:14
2385          China           Tibet        1.0  2020-03-11T02:18:14

[363 rows x 4 columns]

In [32]:
df1.loc[df1['Country/Region']== 'China']['Confirmed'].sum()

891682.0

In [35]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Confirmed'], ascending=False).head(5))

'Sorted Data Frame'

     Country/Region Province/State  Confirmed          Last Update
1863          China          Hubei    67800.0  2020-03-18T12:13:09
2126          China          Hubei    67800.0  2020-03-20T07:43:02
1993          China          Hubei    67800.0  2020-03-19T10:13:14
2260          China          Hubei    67800.0  2020-03-21T10:13:08
1737          China          Hubei    67799.0  2020-03-17T11:53:10

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=False).head(5))

In [36]:
#Sort Data Frame - Ascending on "Country" & descending on "Last update"
display('Sorted Data Frame', df1.sort_values(['Country/Region', 'Last Update'], ascending=[1,0]).head(5))

'Sorted Data Frame'

     Country/Region     Province/State  Confirmed          Last Update
2289      Australia    New South Wales      436.0  2020-03-21T13:13:35
2304      Australia           Victoria      229.0  2020-03-21T13:13:35
2305      Australia         Queensland      221.0  2020-03-21T13:13:35
2330      Australia  Western Australia       90.0  2020-03-21T13:13:35
2339      Australia    South Australia       67.0  2020-03-21T13:13:35

In [38]:
#Iterating through the dataset
for index , row in df1.iterrows():
    if (row['Country/Region'] == 'China' ):
        display(row[['Country/Region' ,'Confirmed']])

Country/Region    China
Confirmed         67773
Name: 1048, dtype: object

Country/Region    China
Confirmed          1356
Name: 1050, dtype: object

Country/Region    China
Confirmed          1273
Name: 1051, dtype: object

Country/Region    China
Confirmed          1215
Name: 1052, dtype: object

Country/Region    China
Confirmed          1018
Name: 1053, dtype: object

Country/Region    China
Confirmed           990
Name: 1054, dtype: object

Country/Region    China
Confirmed           935
Name: 1055, dtype: object

Country/Region    China
Confirmed           760
Name: 1056, dtype: object

Country/Region    China
Confirmed           631
Name: 1058, dtype: object

Country/Region    China
Confirmed           576
Name: 1059, dtype: object

Country/Region    China
Confirmed           539
Name: 1060, dtype: object

Country/Region    China
Confirmed           482
Name: 1061, dtype: object

Country/Region    China
Confirmed           435
Name: 1064, dtype: object

Country/Region    China
Confirmed           344
Name: 1066, dtype: object

Country/Region    China
Confirmed           318
Name: 1067, dtype: object

Country/Region    China
Confirmed           296
Name: 1068, dtype: object

Country/Region    China
Confirmed           252
Name: 1069, dtype: object

Country/Region    China
Confirmed           245
Name: 1070, dtype: object

Country/Region    China
Confirmed           174
Name: 1073, dtype: object

Country/Region    China
Confirmed           168
Name: 1074, dtype: object

Country/Region    China
Confirmed           146
Name: 1075, dtype: object

Country/Region    China
Confirmed           136
Name: 1076, dtype: object

Country/Region    China
Confirmed           133
Name: 1077, dtype: object

Country/Region    China
Confirmed           127
Name: 1078, dtype: object

Country/Region    China
Confirmed           126
Name: 1079, dtype: object

Country/Region    China
Confirmed           125
Name: 1080, dtype: object

Country/Region    China
Confirmed            93
Name: 1082, dtype: object

Country/Region    China
Confirmed            76
Name: 1083, dtype: object

Country/Region    China
Confirmed            75
Name: 1084, dtype: object

Country/Region    China
Confirmed            75
Name: 1085, dtype: object

Country/Region    China
Confirmed            18
Name: 1101, dtype: object

Country/Region    China
Confirmed            10
Name: 1105, dtype: object

Country/Region    China
Confirmed             1
Name: 1138, dtype: object

Country/Region    China
Confirmed         67781
Name: 1157, dtype: object

Country/Region    China
Confirmed          1356
Name: 1159, dtype: object

Country/Region    China
Confirmed          1273
Name: 1160, dtype: object

Country/Region    China
Confirmed          1215
Name: 1161, dtype: object

Country/Region    China
Confirmed          1018
Name: 1162, dtype: object

Country/Region    China
Confirmed           990
Name: 1163, dtype: object

Country/Region    China
Confirmed           935
Name: 1164, dtype: object

Country/Region    China
Confirmed           760
Name: 1165, dtype: object

Country/Region    China
Confirmed           631
Name: 1167, dtype: object

Country/Region    China
Confirmed           576
Name: 1169, dtype: object

Country/Region    China
Confirmed           539
Name: 1170, dtype: object

Country/Region    China
Confirmed           482
Name: 1171, dtype: object

Country/Region    China
Confirmed           435
Name: 1174, dtype: object

Country/Region    China
Confirmed           344
Name: 1175, dtype: object

Country/Region    China
Confirmed           318
Name: 1177, dtype: object

Country/Region    China
Confirmed           296
Name: 1178, dtype: object

Country/Region    China
Confirmed           252
Name: 1179, dtype: object

Country/Region    China
Confirmed           245
Name: 1180, dtype: object

Country/Region    China
Confirmed           174
Name: 1182, dtype: object

Country/Region    China
Confirmed           168
Name: 1183, dtype: object

Country/Region    China
Confirmed           146
Name: 1184, dtype: object

Country/Region    China
Confirmed           136
Name: 1185, dtype: object

Country/Region    China
Confirmed           133
Name: 1186, dtype: object

Country/Region    China
Confirmed           129
Name: 1187, dtype: object

Country/Region    China
Confirmed           127
Name: 1188, dtype: object

Country/Region    China
Confirmed           125
Name: 1189, dtype: object

Country/Region    China
Confirmed            93
Name: 1191, dtype: object

Country/Region    China
Confirmed            76
Name: 1192, dtype: object

Country/Region    China
Confirmed            75
Name: 1193, dtype: object

Country/Region    China
Confirmed            75
Name: 1194, dtype: object

Country/Region    China
Confirmed            18
Name: 1212, dtype: object

Country/Region    China
Confirmed            10
Name: 1221, dtype: object

Country/Region    China
Confirmed             1
Name: 1249, dtype: object

Country/Region    China
Confirmed         67786
Name: 1266, dtype: object

Country/Region    China
Confirmed          1356
Name: 1267, dtype: object

Country/Region    China
Confirmed          1273
Name: 1268, dtype: object

Country/Region    China
Confirmed          1215
Name: 1269, dtype: object

Country/Region    China
Confirmed          1018
Name: 1270, dtype: object

Country/Region    China
Confirmed           990
Name: 1271, dtype: object

Country/Region    China
Confirmed           935
Name: 1272, dtype: object

Country/Region    China
Confirmed           760
Name: 1273, dtype: object

Country/Region    China
Confirmed           631
Name: 1274, dtype: object

Country/Region    China
Confirmed           576
Name: 1275, dtype: object

Country/Region    China
Confirmed           539
Name: 1276, dtype: object

Country/Region    China
Confirmed           482
Name: 1277, dtype: object

Country/Region    China
Confirmed           436
Name: 1278, dtype: object

Country/Region    China
Confirmed           346
Name: 1279, dtype: object

Country/Region    China
Confirmed           318
Name: 1280, dtype: object

Country/Region    China
Confirmed           296
Name: 1281, dtype: object

Country/Region    China
Confirmed           252
Name: 1282, dtype: object

Country/Region    China
Confirmed           245
Name: 1283, dtype: object

Country/Region    China
Confirmed           174
Name: 1284, dtype: object

Country/Region    China
Confirmed           168
Name: 1285, dtype: object

Country/Region    China
Confirmed           146
Name: 1286, dtype: object

Country/Region    China
Confirmed           136
Name: 1287, dtype: object

Country/Region    China
Confirmed           134
Name: 1288, dtype: object

Country/Region    China
Confirmed           133
Name: 1289, dtype: object

Country/Region    China
Confirmed           127
Name: 1290, dtype: object

Country/Region    China
Confirmed           125
Name: 1291, dtype: object

Country/Region    China
Confirmed            76
Name: 1292, dtype: object

Country/Region    China
Confirmed            75
Name: 1293, dtype: object

Country/Region    China
Confirmed            75
Name: 1294, dtype: object

Country/Region    China
Confirmed            93
Name: 1295, dtype: object

Country/Region    China
Confirmed            18
Name: 1296, dtype: object

Country/Region    China
Confirmed            10
Name: 1297, dtype: object

Country/Region    China
Confirmed             1
Name: 1298, dtype: object

Country/Region    China
Confirmed         67790
Name: 1379, dtype: object

Country/Region    China
Confirmed          1356
Name: 1381, dtype: object

Country/Region    China
Confirmed          1273
Name: 1382, dtype: object

Country/Region    China
Confirmed          1227
Name: 1383, dtype: object

Country/Region    China
Confirmed          1018
Name: 1385, dtype: object

Country/Region    China
Confirmed           990
Name: 1386, dtype: object

Country/Region    China
Confirmed           935
Name: 1387, dtype: object

Country/Region    China
Confirmed           760
Name: 1389, dtype: object

Country/Region    China
Confirmed           631
Name: 1391, dtype: object

Country/Region    China
Confirmed           576
Name: 1392, dtype: object

Country/Region    China
Confirmed           539
Name: 1394, dtype: object

Country/Region    China
Confirmed           482
Name: 1396, dtype: object

Country/Region    China
Confirmed           437
Name: 1397, dtype: object

Country/Region    China
Confirmed           353
Name: 1398, dtype: object

Country/Region    China
Confirmed           318
Name: 1400, dtype: object

Country/Region    China
Confirmed           296
Name: 1401, dtype: object

Country/Region    China
Confirmed           252
Name: 1402, dtype: object

Country/Region    China
Confirmed           245
Name: 1403, dtype: object

Country/Region    China
Confirmed           174
Name: 1404, dtype: object

Country/Region    China
Confirmed           168
Name: 1405, dtype: object

Country/Region    China
Confirmed           146
Name: 1406, dtype: object

Country/Region    China
Confirmed           140
Name: 1407, dtype: object

Country/Region    China
Confirmed           136
Name: 1409, dtype: object

Country/Region    China
Confirmed           133
Name: 1410, dtype: object

Country/Region    China
Confirmed           129
Name: 1411, dtype: object

Country/Region    China
Confirmed           125
Name: 1412, dtype: object

Country/Region    China
Confirmed            93
Name: 1415, dtype: object

Country/Region    China
Confirmed            76
Name: 1418, dtype: object

Country/Region    China
Confirmed            75
Name: 1420, dtype: object

Country/Region    China
Confirmed            75
Name: 1421, dtype: object

Country/Region    China
Confirmed            18
Name: 1447, dtype: object

Country/Region    China
Confirmed            10
Name: 1456, dtype: object

Country/Region    China
Confirmed             1
Name: 1486, dtype: object

Country/Region    China
Confirmed         67794
Name: 1493, dtype: object

Country/Region    China
Confirmed          1360
Name: 1495, dtype: object

Country/Region    China
Confirmed          1273
Name: 1496, dtype: object

Country/Region    China
Confirmed          1231
Name: 1497, dtype: object

Country/Region    China
Confirmed          1018
Name: 1499, dtype: object

Country/Region    China
Confirmed           990
Name: 1500, dtype: object

Country/Region    China
Confirmed           935
Name: 1501, dtype: object

Country/Region    China
Confirmed           760
Name: 1503, dtype: object

Country/Region    China
Confirmed           631
Name: 1507, dtype: object

Country/Region    China
Confirmed           576
Name: 1508, dtype: object

Country/Region    China
Confirmed           539
Name: 1509, dtype: object

Country/Region    China
Confirmed           482
Name: 1510, dtype: object

Country/Region    China
Confirmed           442
Name: 1511, dtype: object

Country/Region    China
Confirmed           353
Name: 1513, dtype: object

Country/Region    China
Confirmed           318
Name: 1514, dtype: object

Country/Region    China
Confirmed           296
Name: 1515, dtype: object

Country/Region    China
Confirmed           252
Name: 1516, dtype: object

Country/Region    China
Confirmed           245
Name: 1517, dtype: object

Country/Region    China
Confirmed           174
Name: 1518, dtype: object

Country/Region    China
Confirmed           168
Name: 1519, dtype: object

Country/Region    China
Confirmed           146
Name: 1520, dtype: object

Country/Region    China
Confirmed           145
Name: 1521, dtype: object

Country/Region    China
Confirmed           136
Name: 1523, dtype: object

Country/Region    China
Confirmed           133
Name: 1525, dtype: object

Country/Region    China
Confirmed           133
Name: 1526, dtype: object

Country/Region    China
Confirmed           125
Name: 1527, dtype: object

Country/Region    China
Confirmed            93
Name: 1532, dtype: object

Country/Region    China
Confirmed            76
Name: 1534, dtype: object

Country/Region    China
Confirmed            75
Name: 1535, dtype: object

Country/Region    China
Confirmed            75
Name: 1536, dtype: object

Country/Region    China
Confirmed            18
Name: 1564, dtype: object

Country/Region    China
Confirmed            10
Name: 1575, dtype: object

Country/Region    China
Confirmed             1
Name: 1603, dtype: object

Country/Region    China
Confirmed         67798
Name: 1612, dtype: object

Country/Region    China
Confirmed          1361
Name: 1616, dtype: object

Country/Region    China
Confirmed          1273
Name: 1617, dtype: object

Country/Region    China
Confirmed          1231
Name: 1618, dtype: object

Country/Region    China
Confirmed          1018
Name: 1619, dtype: object

Country/Region    China
Confirmed           990
Name: 1620, dtype: object

Country/Region    China
Confirmed           935
Name: 1622, dtype: object

Country/Region    China
Confirmed           760
Name: 1625, dtype: object

Country/Region    China
Confirmed           631
Name: 1627, dtype: object

Country/Region    China
Confirmed           576
Name: 1628, dtype: object

Country/Region    China
Confirmed           539
Name: 1630, dtype: object

Country/Region    China
Confirmed           482
Name: 1631, dtype: object

Country/Region    China
Confirmed           452
Name: 1632, dtype: object

Country/Region    China
Confirmed           355
Name: 1633, dtype: object

Country/Region    China
Confirmed           318
Name: 1634, dtype: object

Country/Region    China
Confirmed           296
Name: 1635, dtype: object

Country/Region    China
Confirmed           252
Name: 1636, dtype: object

Country/Region    China
Confirmed           245
Name: 1637, dtype: object

Country/Region    China
Confirmed           176
Name: 1641, dtype: object

Country/Region    China
Confirmed           168
Name: 1643, dtype: object

Country/Region    China
Confirmed           155
Name: 1645, dtype: object

Country/Region    China
Confirmed           146
Name: 1647, dtype: object

Country/Region    China
Confirmed           136
Name: 1648, dtype: object

Country/Region    China
Confirmed           133
Name: 1650, dtype: object

Country/Region    China
Confirmed           133
Name: 1651, dtype: object

Country/Region    China
Confirmed           125
Name: 1652, dtype: object

Country/Region    China
Confirmed            93
Name: 1656, dtype: object

Country/Region    China
Confirmed            76
Name: 1659, dtype: object

Country/Region    China
Confirmed            75
Name: 1660, dtype: object

Country/Region    China
Confirmed            75
Name: 1661, dtype: object

Country/Region    China
Confirmed            18
Name: 1690, dtype: object

Country/Region    China
Confirmed            11
Name: 1699, dtype: object

Country/Region    China
Confirmed             1
Name: 1727, dtype: object

Country/Region    China
Confirmed         67799
Name: 1737, dtype: object

Country/Region    China
Confirmed          1364
Name: 1742, dtype: object

Country/Region    China
Confirmed          1273
Name: 1743, dtype: object

Country/Region    China
Confirmed          1232
Name: 1744, dtype: object

Country/Region    China
Confirmed          1018
Name: 1746, dtype: object

Country/Region    China
Confirmed           990
Name: 1747, dtype: object

Country/Region    China
Confirmed           935
Name: 1749, dtype: object

Country/Region    China
Confirmed           761
Name: 1750, dtype: object

Country/Region    China
Confirmed           631
Name: 1753, dtype: object

Country/Region    China
Confirmed           576
Name: 1754, dtype: object

Country/Region    China
Confirmed           540
Name: 1755, dtype: object

Country/Region    China
Confirmed           482
Name: 1756, dtype: object

Country/Region    China
Confirmed           456
Name: 1757, dtype: object

Country/Region    China
Confirmed           358
Name: 1758, dtype: object

Country/Region    China
Confirmed           318
Name: 1759, dtype: object

Country/Region    China
Confirmed           296
Name: 1760, dtype: object

Country/Region    China
Confirmed           253
Name: 1762, dtype: object

Country/Region    China
Confirmed           246
Name: 1763, dtype: object

Country/Region    China
Confirmed           176
Name: 1769, dtype: object

Country/Region    China
Confirmed           168
Name: 1770, dtype: object

Country/Region    China
Confirmed           162
Name: 1771, dtype: object

Country/Region    China
Confirmed           147
Name: 1774, dtype: object

Country/Region    China
Confirmed           136
Name: 1776, dtype: object

Country/Region    China
Confirmed           133
Name: 1777, dtype: object

Country/Region    China
Confirmed           133
Name: 1778, dtype: object

Country/Region    China
Confirmed           125
Name: 1779, dtype: object

Country/Region    China
Confirmed            93
Name: 1784, dtype: object

Country/Region    China
Confirmed            76
Name: 1786, dtype: object

Country/Region    China
Confirmed            75
Name: 1787, dtype: object

Country/Region    China
Confirmed            75
Name: 1788, dtype: object

Country/Region    China
Confirmed            18
Name: 1823, dtype: object

Country/Region    China
Confirmed            12
Name: 1826, dtype: object

Country/Region    China
Confirmed             1
Name: 1858, dtype: object

Country/Region    China
Confirmed         67800
Name: 1863, dtype: object

Country/Region    China
Confirmed          1370
Name: 1868, dtype: object

Country/Region    China
Confirmed          1273
Name: 1869, dtype: object

Country/Region    China
Confirmed          1232
Name: 1870, dtype: object

Country/Region    China
Confirmed          1018
Name: 1872, dtype: object

Country/Region    China
Confirmed           990
Name: 1874, dtype: object

Country/Region    China
Confirmed           935
Name: 1875, dtype: object

Country/Region    China
Confirmed           761
Name: 1876, dtype: object

Country/Region    China
Confirmed           631
Name: 1879, dtype: object

Country/Region    China
Confirmed           576
Name: 1880, dtype: object

Country/Region    China
Confirmed           540
Name: 1881, dtype: object

Country/Region    China
Confirmed           482
Name: 1882, dtype: object

Country/Region    China
Confirmed           469
Name: 1883, dtype: object

Country/Region    China
Confirmed           361
Name: 1884, dtype: object

Country/Region    China
Confirmed           318
Name: 1885, dtype: object

Country/Region    China
Confirmed           296
Name: 1887, dtype: object

Country/Region    China
Confirmed           253
Name: 1891, dtype: object

Country/Region    China
Confirmed           246
Name: 1892, dtype: object

Country/Region    China
Confirmed           181
Name: 1898, dtype: object

Country/Region    China
Confirmed           176
Name: 1899, dtype: object

Country/Region    China
Confirmed           168
Name: 1901, dtype: object

Country/Region    China
Confirmed           146
Name: 1904, dtype: object

Country/Region    China
Confirmed           136
Name: 1905, dtype: object

Country/Region    China
Confirmed           133
Name: 1906, dtype: object

Country/Region    China
Confirmed           133
Name: 1907, dtype: object

Country/Region    China
Confirmed           125
Name: 1908, dtype: object

Country/Region    China
Confirmed            93
Name: 1913, dtype: object

Country/Region    China
Confirmed            76
Name: 1921, dtype: object

Country/Region    China
Confirmed            75
Name: 1922, dtype: object

Country/Region    China
Confirmed            75
Name: 1923, dtype: object

Country/Region    China
Confirmed            18
Name: 1950, dtype: object

Country/Region    China
Confirmed            15
Name: 1955, dtype: object

Country/Region    China
Confirmed             1
Name: 1983, dtype: object

Country/Region    China
Confirmed         67800
Name: 1993, dtype: object

Country/Region    China
Confirmed          1378
Name: 1998, dtype: object

Country/Region    China
Confirmed          1273
Name: 2000, dtype: object

Country/Region    China
Confirmed          1233
Name: 2001, dtype: object

Country/Region    China
Confirmed          1018
Name: 2003, dtype: object

Country/Region    China
Confirmed           990
Name: 2004, dtype: object

Country/Region    China
Confirmed           935
Name: 2006, dtype: object

Country/Region    China
Confirmed           761
Name: 2007, dtype: object

Country/Region    China
Confirmed           631
Name: 2010, dtype: object

Country/Region    China
Confirmed           576
Name: 2011, dtype: object

Country/Region    China
Confirmed           540
Name: 2012, dtype: object

Country/Region    China
Confirmed           483
Name: 2013, dtype: object

Country/Region    China
Confirmed           480
Name: 2014, dtype: object

Country/Region    China
Confirmed           363
Name: 2018, dtype: object

Country/Region    China
Confirmed           318
Name: 2021, dtype: object

Country/Region    China
Confirmed           296
Name: 2023, dtype: object

Country/Region    China
Confirmed           253
Name: 2028, dtype: object

Country/Region    China
Confirmed           246
Name: 2029, dtype: object

Country/Region    China
Confirmed           208
Name: 2031, dtype: object

Country/Region    China
Confirmed           176
Name: 2033, dtype: object

Country/Region    China
Confirmed           168
Name: 2034, dtype: object

Country/Region    China
Confirmed           146
Name: 2038, dtype: object

Country/Region    China
Confirmed           137
Name: 2040, dtype: object

Country/Region    China
Confirmed           134
Name: 2041, dtype: object

Country/Region    China
Confirmed           133
Name: 2042, dtype: object

Country/Region    China
Confirmed           125
Name: 2043, dtype: object

Country/Region    China
Confirmed            93
Name: 2052, dtype: object

Country/Region    China
Confirmed            76
Name: 2058, dtype: object

Country/Region    China
Confirmed            75
Name: 2059, dtype: object

Country/Region    China
Confirmed            75
Name: 2060, dtype: object

Country/Region    China
Confirmed            18
Name: 2083, dtype: object

Country/Region    China
Confirmed            17
Name: 2087, dtype: object

Country/Region    China
Confirmed             1
Name: 2118, dtype: object

Country/Region    China
Confirmed         67800
Name: 2126, dtype: object

Country/Region    China
Confirmed          1395
Name: 2132, dtype: object

Country/Region    China
Confirmed          1273
Name: 2133, dtype: object

Country/Region    China
Confirmed          1234
Name: 2135, dtype: object

Country/Region    China
Confirmed          1018
Name: 2137, dtype: object

Country/Region    China
Confirmed           990
Name: 2138, dtype: object

Country/Region    China
Confirmed           935
Name: 2139, dtype: object

Country/Region    China
Confirmed           762
Name: 2141, dtype: object

Country/Region    China
Confirmed           631
Name: 2143, dtype: object

Country/Region    China
Confirmed           576
Name: 2145, dtype: object

Country/Region    China
Confirmed           541
Name: 2148, dtype: object

Country/Region    China
Confirmed           491
Name: 2150, dtype: object

Country/Region    China
Confirmed           484
Name: 2151, dtype: object

Country/Region    China
Confirmed           371
Name: 2155, dtype: object

Country/Region    China
Confirmed           318
Name: 2158, dtype: object

Country/Region    China
Confirmed           299
Name: 2161, dtype: object

Country/Region    China
Confirmed           256
Name: 2163, dtype: object

Country/Region    China
Confirmed           254
Name: 2164, dtype: object

Country/Region    China
Confirmed           247
Name: 2165, dtype: object

Country/Region    China
Confirmed           176
Name: 2170, dtype: object

Country/Region    China
Confirmed           168
Name: 2173, dtype: object

Country/Region    China
Confirmed           146
Name: 2176, dtype: object

Country/Region    China
Confirmed           137
Name: 2178, dtype: object

Country/Region    China
Confirmed           134
Name: 2179, dtype: object

Country/Region    China
Confirmed           133
Name: 2180, dtype: object

Country/Region    China
Confirmed           126
Name: 2181, dtype: object

Country/Region    China
Confirmed            93
Name: 2189, dtype: object

Country/Region    China
Confirmed            76
Name: 2196, dtype: object

Country/Region    China
Confirmed            75
Name: 2197, dtype: object

Country/Region    China
Confirmed            75
Name: 2198, dtype: object

Country/Region    China
Confirmed            18
Name: 2221, dtype: object

Country/Region    China
Confirmed            17
Name: 2223, dtype: object

Country/Region    China
Confirmed             1
Name: 2250, dtype: object

Country/Region    China
Confirmed         67800
Name: 2260, dtype: object

Country/Region    China
Confirmed          1400
Name: 2266, dtype: object

Country/Region    China
Confirmed          1273
Name: 2270, dtype: object

Country/Region    China
Confirmed          1236
Name: 2271, dtype: object

Country/Region    China
Confirmed          1018
Name: 2272, dtype: object

Country/Region    China
Confirmed           990
Name: 2273, dtype: object

Country/Region    China
Confirmed           935
Name: 2274, dtype: object

Country/Region    China
Confirmed           764
Name: 2276, dtype: object

Country/Region    China
Confirmed           631
Name: 2280, dtype: object

Country/Region    China
Confirmed           576
Name: 2283, dtype: object

Country/Region    China
Confirmed           542
Name: 2284, dtype: object

Country/Region    China
Confirmed           504
Name: 2287, dtype: object

Country/Region    China
Confirmed           484
Name: 2288, dtype: object

Country/Region    China
Confirmed           380
Name: 2293, dtype: object

Country/Region    China
Confirmed           318
Name: 2296, dtype: object

Country/Region    China
Confirmed           303
Name: 2297, dtype: object

Country/Region    China
Confirmed           273
Name: 2299, dtype: object

Country/Region    China
Confirmed           254
Name: 2300, dtype: object

Country/Region    China
Confirmed           248
Name: 2302, dtype: object

Country/Region    China
Confirmed           176
Name: 2310, dtype: object

Country/Region    China
Confirmed           168
Name: 2312, dtype: object

Country/Region    China
Confirmed           146
Name: 2315, dtype: object

Country/Region    China
Confirmed           137
Name: 2318, dtype: object

Country/Region    China
Confirmed           134
Name: 2320, dtype: object

Country/Region    China
Confirmed           133
Name: 2321, dtype: object

Country/Region    China
Confirmed           126
Name: 2324, dtype: object

Country/Region    China
Confirmed            93
Name: 2328, dtype: object

Country/Region    China
Confirmed            76
Name: 2333, dtype: object

Country/Region    China
Confirmed            75
Name: 2334, dtype: object

Country/Region    China
Confirmed            75
Name: 2335, dtype: object

Country/Region    China
Confirmed            18
Name: 2360, dtype: object

Country/Region    China
Confirmed            18
Name: 2361, dtype: object

Country/Region    China
Confirmed             1
Name: 2385, dtype: object

In [ ]:
#Unique Values
covid['Country/Region'].drop_duplicates(keep='first').head(10)

In [ ]:
# Countries impacted with Coronavirus
countries = covid['Country/Region'].unique()
type(countries) , countries

In [39]:
df2 = pd.read_csv('Pokemon.csv')
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [40]:
# Sum of Columns 
df2['Total'] = df2['HP'] + df2['Attack']
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,94,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,122,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,162,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,180,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,91,39,52,43,60,50,65,1,False

In [41]:
# Sum of Columns 
df2['Total'] = df2.iloc[:,4:10].sum(axis=1)
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,65,1,False

In [42]:
#Shifting "Total" column

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
0,1,Bulbasaur,Grass,Poison,367,45,49,49,65,65,False,45,1
1,2,Ivysaur,Grass,Poison,467,60,62,63,80,80,False,60,1
2,3,Venusaur,Grass,Poison,607,80,82,83,100,100,False,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,725,80,100,123,122,120,False,80,1
4,4,Charmander,Fire,NaN,335,39,52,43,60,50,False,65,1

In [ ]:
#Shifting "Legendary" column -  Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

In [ ]:
#Shifting "Generation" column - Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[12]] + cols[10:12]]
df2.head(5)

In [ ]:
#Save to CSV file

df2.to_csv('poke_updated.csv')

In [ ]:
#Save to CSV file without index column

df2.to_csv('poke_updated1.csv', index=False)

In [ ]:
df2.head(10)

In [ ]:
# Save Dataframe as text file
df2.to_csv('poke.txt' , sep='\t' , index=False)

In [ ]:
# Save Dataframe as xlsx file
df2.to_excel('poke.xlsx')

In [ ]:
# Save Dataframe as xlsx file without row names
df2.to_excel('poke.xlsx', index=0)

In [ ]:
#Filtering using loc

df2.loc[df2['Type 2'] == 'Dragon']

In [ ]:
#Filtering using loc
df3 = df2.loc[(df2['Type 2'] == 'Dragon') & (df2['Type 1'] == 'Dark')]
df3

In [ ]:
#Reset index for Dataframe df3 keeping old index column

df4 = df3.reset_index()
df4

In [ ]:
#Reset index for Dataframe df3 removing old index column

df3.reset_index(drop=True , inplace=True)
df3

In [ ]:
df2.head(10)

# LIKE OPERATION IN PANDAS

In [44]:
df2.Name.str.contains("saur").head(10)

0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
9    False
Name: Name, dtype: bool

In [45]:
# Display all rows containing Name "rill"
df2.loc[df2.Name.str.contains("rill")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
18,15,Beedrill,Bug,Poison,475,65,90,40,45,80,False,75,1
19,15,BeedrillMega Beedrill,Bug,Poison,565,65,150,40,15,80,False,145,1
198,183,Marill,Water,Fairy,300,70,20,50,20,50,False,40,2
199,184,Azumarill,Water,Fairy,520,100,50,80,60,80,False,50,2
322,298,Azurill,Normal,Fairy,240,50,20,40,20,40,False,20,3
589,530,Excadrill,Ground,Steel,665,110,135,60,50,65,False,88,5
653,592,Frillish,Water,Ghost,390,55,40,50,65,85,False,40,5

In [ ]:
# Exclude all rows containing "rill"
df2.loc[~df2.Name.str.contains("rill")].head(10)

In [ ]:
#Display all rows with Type-1 as "Grass" and Type-2 as "Poison"

df2.loc[df2['Type 1'].str.contains("Grass") & df2['Type 2'].str.contains("Poison")]

In [ ]:
df2.loc[df2['Type 1'].str.contains('Grass|Water',regex = True)].head(10)

In [ ]:
# Due to Case-sensitive it will not return any data

df2.loc[df2['Type 1'].str.contains('grass|water',regex = True)].head(10)

In [ ]:
# To ignore case we can use "case = False"

df2.loc[df2['Type 1'].str.contains('grass|water', case = False ,regex = True)].head(10)

In [ ]:
# To ignore case we can use "Flags = re.I"

df2.loc[df2['Type 1'].str.contains('grass|water',flags = re.I ,regex = True)].head(10)

# Regex in Pandas dataframe

In [46]:
#Get all rows with name starting with "wa"

df2.loc[df2.Name.str.contains('^Wa',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
10,8,Wartortle,Water,NaN,469,59,63,80,65,80,False,58,1
350,320,Wailmer,Water,NaN,540,130,70,35,70,35,False,60,3
351,321,Wailord,Water,NaN,700,170,90,45,90,45,False,60,3
400,365,Walrein,Ice,Water,655,110,80,90,95,90,False,65,3
564,505,Watchog,Normal,NaN,488,60,85,69,60,69,False,77,5

In [47]:
#Get all rows with name starting with "wa" followed by any letter between a-l

df2.loc[df2.Name.str.contains('^Wa[a-l]+',flags = re.I ,regex = True)].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
350,320,Wailmer,Water,NaN,540,130,70,35,70,35,False,60,3
351,321,Wailord,Water,NaN,700,170,90,45,90,45,False,60,3
400,365,Walrein,Ice,Water,655,110,80,90,95,90,False,65,3

In [48]:
#Get all rows with name starting with x , y, z

df2.loc[df2.Name.str.contains('^[x-z]',flags = re.I ,regex = True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Legendary,Speed,Generation
46,41,Zubat,Poison,Flying,275,40,45,35,30,40,False,55,1
157,145,Zapdos,Electric,Flying,660,90,90,85,125,90,True,100,1
192,178,Xatu,Psychic,Flying,515,65,75,70,95,70,False,95,2
208,193,Yanma,Bug,Flying,425,65,65,45,75,45,False,95,2
286,263,Zigzagoon,Normal,NaN,248,38,30,41,30,41,False,60,3
367,335,Zangoose,Normal,NaN,556,73,115,60,60,60,False,90,3
520,469,Yanmega,Bug,Flying,582,86,76,86,116,56,False,95,4
582,523,Zebstrika,Electric,NaN,556,75,100,63,80,63,False,116,5
623,562,Yamask,Ghost,NaN,341,38,30,85,55,65,False,30,5
631,570,Zorua,Dark,NaN,370,40,65,40,80,40,False,65,5
632,571,Zoroark,Dark,NaN,570,60,105,60,120,60,False,105,5
695,634,Zweilous,Dark,Dragon,519,72,85,70,65,70,False,58,5
707,644,Zekrom,Dragon,Electric,840,100,150,120,120,100,True,90,5
792,716,Xerneas,Fairy,NaN,838,126,131,95,131,98,True,99,6
793,717,Yveltal,Dark,Flying,838,126,131,95,131,98,True,99,6
794,718,Zygarde50% Forme,Dragon,Ground,713,108,100,121,81,95,True,95,6

In [ ]:
# Extracting first 3 characters from "Name" column
df2['Name2'] = df2.Name.str.extract(r'(^\w{3})')

In [ ]:
df2.head(5)

In [ ]:
# Return all rows with "Name" starting with character 'B or b' 
df2.loc[df2.Name.str.match(r'(^[B|b].*)')].head(5)

# Replace values in dataframe

In [ ]:
df2.head(10)

In [ ]:
df2['Type 1'] = df2['Type 1'].replace({"Grass" : "Meadow" , "Fire" :"Blaze"})

In [ ]:
df2.head(10)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace({"Poison" : "Venom"})

In [ ]:
df2.head(5)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace(['Venom' , 'Dragon'] , 'DANGER')

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Type 2'] == 'DANGER' , 'Name2'] = np.NaN

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Name2' , 'Legendary']] = 'ALERT'
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Legendary' , 'Name2']] = ['ALERT-1' , 'ALERT-2'] 
df2.head(10)

# Group By

In [50]:
df = pd.read_csv('pokemon.csv')
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [56]:
df.groupby(['Type 1'])['Total'].std()

Type 1
Bug         117.875223
Dark        109.126217
Dragon      146.267538
Electric    105.721952
Fairy       123.781680
Fighting    102.464378
Fire        109.760496
Flying      161.400124
Ghost       110.072685
Grass       106.650626
Ground      123.913081
Ice         108.281027
Normal      115.733038
Poison       92.358687
Psychic     139.026645
Rock        108.059227
Steel       115.420907
Water       113.188266
Name: Total, dtype: float64

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Attack' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Defense' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Speed' , ascending = False).head(10)

In [ ]:
df.sum()

In [ ]:
df.groupby(['Type 2']).sum().head(5)

In [ ]:
df.count()

In [ ]:
df['count1'] = 0
df.groupby(['Type 2']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1' , 'Type 2' , 'Legendary']).count()['count1']

# Loading Data in Chunks

In [ ]:
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    print(df)

In [ ]:
df

In [ ]:
df1 = pd.DataFrame()
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    df1 = pd.concat([df1 ,df])
df1.head(15)

# Stack & unstack in Pandas

In [ ]:
col = pd.MultiIndex.from_product([['2010','2015'],['Literacy' , 'GDP']])

data =([[80,7,88,6],[90,8,92,7],[89,7,91,8],[87,6,93,8]])

df6 = pd.DataFrame(data, index=['India','USA' , 'Russia' , 'China'], columns=col)
df6

In [ ]:
# Stack() Function stacks the columns to rows.
st_df = df6.stack()
st_df

In [ ]:
#Unstacks the row to columns
unst_df = st_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

# PIVOT Tables

In [57]:
data = {
    'Country':['India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China'],
    'Year':['2010','2010','2010','2010' , '2010','2010','2010','2010','2015','2015','2015','2015','2015','2015','2015','2015'],
     
    'Literacy/GDP':['GDP' , 'GDP' , 'GDP' , 'GDP','Literacy' , 'Literacy', 'Literacy' , 'Literacy','GDP' , 'GDP','GDP' , 'GDP','Literacy' , 'Literacy','Literacy' , 'Literacy'],
   'Value':[7,8,7,6,80,90,89,87,6,7,8, 8, 88 , 92 , 91 ,93]}
 
df7 = pd.DataFrame(data,columns=['Country','Year','Literacy/GDP','Value'])
df7

   Country  Year Literacy/GDP  Value
0    India  2010          GDP      7
1      USA  2010          GDP      8
2   Russia  2010          GDP      7
3    China  2010          GDP      6
4    India  2010     Literacy     80
5      USA  2010     Literacy     90
6   Russia  2010     Literacy     89
7    China  2010     Literacy     87
8    India  2015          GDP      6
9      USA  2015          GDP      7
10  Russia  2015          GDP      8
11   China  2015          GDP      8
12   India  2015     Literacy     88
13     USA  2015     Literacy     92
14  Russia  2015     Literacy     91
15   China  2015     Literacy     93

In [ ]:
# Pivot table with SUM aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='sum')

In [ ]:
# Pivot table with MEAN aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='mean')

# Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
df8.index

In [ ]:
df8.loc['2010']

In [ ]:
df8.loc[['2010']]

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP' , 'Country'])
df8

### SWAP Columns in Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df8.swaplevel('Year', 'Literacy/GDP')
df9

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df9.swaplevel('Year', 'Literacy/GDP')
df9

# Crosstab in Pandas

In [ ]:
df7

In [58]:
pd.crosstab(df7['Literacy/GDP'] , df7.Value , margins=True)

Value         6  7  8  80  87  88  89  90  91  92  93  All
Literacy/GDP
GDP           2  3  3   0   0   0   0   0   0   0   0    8
Literacy      0  0  0   1   1   1   1   1   1   1   1    8
All           2  3  3   1   1   1   1   1   1   1   1   16

In [ ]:
# 2 way cross table
pd.crosstab(df7.Year , df7['Literacy/GDP'] , margins=True)

In [ ]:
# 3 way cross table
pd.crosstab([df7.Year , df7['Literacy/GDP']] , df7.Country, margins=True)

# Row & Column Bind

### Row Bind

In [ ]:
df8 = pd.DataFrame({'ID' :[1,2,3,4] ,  'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 'Score' :[99 , 66 , 44 , 33]})
df8

In [ ]:
df9 = pd.DataFrame({'ID' :[5,6,7,8] ,  'Name' :['Michelle' , 'Ramiro' , 'Vignesh' , 'Damon'] , 'Score' :[78 , 54 , 77 , 87]})
df9

In [ ]:
# Row Bind with concat() function
pd.concat([df8 , df9], axis=0)

In [ ]:
# Row Bind with append() function
df8.append(df9)

### Column Bind

In [ ]:
df10 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df10

In [ ]:
df11 = pd.DataFrame({'Age' :[20,30,35,40] , 'Score' :[99 , 66 , 44 , 33]})
df11

In [ ]:
pd.concat([df10,df11] ,axis = 1)

In [ ]:
rbind
sbind