In [ ]:
import pandas as pd

pd.options.mode.chained_assignment = None
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import glob
import re
import math

import warnings
warnings.filterwarnings("ignore")

# Series

## Create Series

In [ ]:
# Create series from Nump Array
v = np.array([1,2,3,4,5,6,7])
v

In [ ]:
s1 = pd.Series(v)
s1

In [ ]:
#Datatype of Series
s1.dtype

In [ ]:
# number of bytes allocated to each item
len(s1)

In [ ]:
# Number of bytes consumed by Series
s1.nbytes

In [ ]:
# Shape of the Series
s1.shape

In [ ]:
# number of dimensions
s1.ndim

In [ ]:
# Length of Series
len(s1)

In [ ]:
s1.count()

In [ ]:
s1.size

In [ ]:
# Create series from List 
s0 = pd.Series([1,2,3],index = ['a','b','c'])
s0

In [ ]:
# Modifying index in Series
s1.index = ['a' , 'b' , 'c' , 'd' , 'e' , 'f' , 'g']
s1

In [ ]:
# # Create Series using Random and Range function
# import random
# random.seed(1234)

In [ ]:
import numpy.random as rnd
v2 = rnd.random(10)
v2

In [ ]:
a = range(0,10)
np.array(a)

In [ ]:
(a,b)
[a,b]
[a,b)
(a,b]

In [ ]:
ind2 = np.arange(1.1,2.1,0.1)
ind2

In [ ]:
pd.Series?

In [ ]:
s = pd.Series(v2,ind2)
s
# v2 , ind2 , s

In [ ]:
# Creating Series from Dictionary
dict1 = {'a1' :10 , 'a2' :20 , 'a3':30 , 'a4':40}
s3 = pd.Series(dict1)
s3

In [ ]:
pd.Series(99, index=[0, 1, 2, 3, 4, 5])

## Slicing Series

In [ ]:
s

In [ ]:
# Return all elements of the series
s[:]

In [ ]:
s.iloc[0:5]

In [ ]:
s.loc[1.1]

In [ ]:
s.iloc[0]

In [ ]:
# First three element of the Series
s.iloc[0:3]

In [ ]:
s.iloc[-3:]

In [ ]:
# Last element of the Series
s[-1:]

In [ ]:
# Fetch first 4 elements in a series
s[:4]

In [ ]:
# Return all elements of the series except last two elements.
s[:-2]

In [ ]:
# Return all elements of the series except last element.
s[:-1]

In [ ]:
# Return last two elements of the series
s[-2:]

In [ ]:
# # Return last element of the series
s[-1:]

In [ ]:
s[-3:-1]

## Append Series

In [ ]:
s2 = s.copy()
s2

In [ ]:
s3

In [ ]:
# Append S2 & S3 Series
s4 = s2.append(s3)
s4

In [ ]:
s4.drop('a4', inplace=False)

In [ ]:
# When "inplace=False" it will return a new copy of data with the operation performed
s4.drop('a4', inplace=True)

In [ ]:
s4

In [ ]:
s4

In [ ]:
# When we use "inplace=True" it will affect the dataframe
s4.drop('a4', inplace=True)
s4

In [ ]:
s4 = s4.append(pd.Series({'a4': 7}))
s4

## Operation on Series

In [ ]:
v1 = np.array([10,20,30])
v2 = np.array([1,2,3])
s1 = pd.Series(v1) 
s2 = pd.Series(v2)
s1 , s2

In [ ]:
# Addition of two series
s1.add(s2)

In [ ]:
# Subtraction of two series
s1.sub(s2)

In [ ]:
# Subtraction of two series
s1.subtract(s2)

In [ ]:
# Increment all numbers in a series by 9
s1.add(9)

In [ ]:
# Multiplication of two series
s1.mul(s2)

In [ ]:
# Multiplication of two series
s1.multiply(s2)

In [ ]:
# Multiply each element by 1000
s1.multiply(1000)

In [ ]:
# Division
s1.divide(s2)

In [ ]:
# Division
s1.div(s2)

In [ ]:
# MAX number in a series
s1.max()

In [ ]:
# Min number in a series
s1.min()

In [ ]:
# Average
s1.mean()

In [ ]:
# Median
s1.median()

In [ ]:
# Standard Deviation
s1.std()

In [ ]:
# Series comparison
s1.equals(s2)

In [ ]:
s4 =s1

In [ ]:
# Series comparison
s1.equals(s4)

In [ ]:
s5 = pd.Series([1,1,2,2,3,3], index=[0, 1, 2, 3, 4, 5])
s5

In [ ]:
s5.value_counts()

# DataFrame

## Create DataFrame

In [ ]:
df = pd.DataFrame()
df

In [ ]:
# Create Dataframe using List
lang = ['Java' , 'Python' , 'C' , 'C++']
df = pd.DataFrame(lang)
df

In [ ]:
# Add column in the Dataframe
rating = [1,2,3,4]
df[1] = rating
df

In [ ]:
df.columns

In [ ]:
df.columns = ['Language','Rating']

In [ ]:
df

In [ ]:
# Create Dataframe from Dictionary

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df2 = pd.DataFrame(data)
df2

In [ ]:
df3 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b'])
df3

In [ ]:
df4 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c'])
df4

In [ ]:
df5 = pd.DataFrame(data, index=['row1', 'row2'], columns=['a', 'b' ,'c' , 'd'])
df5

In [ ]:
df2

In [ ]:
df3

In [ ]:
df4

In [ ]:
df5

In [ ]:
# Create Dataframe from Dictionary
df0 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df0

In [ ]:
# Create a DataFrame from Dictionary of Series
dict = {'A' : pd.Series([1, 2, 3],    index=['a', 'b', 'c']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df1 = pd.DataFrame(dict)
df1

#### Dataframe of Random Numbers with Date Indices

In [ ]:
pd.date_range?

In [ ]:
dates = pd.date_range(start='2020-01-20', end='2020-01-26')
dates

In [ ]:
dates = pd.date_range('today',periods= 7)
dates

In [ ]:
dates = pd.date_range(start='2020-01-20', periods=7)
dates

In [ ]:
M = np.random.random((7,7))
M

In [ ]:
dframe = pd.DataFrame(M , index=dates)
dframe

In [ ]:
#Changing Column Names
dframe.columns = ['C1' , 'C2' , 'C3', 'C4', 'C5', 'C6', 'C7']
dframe

In [ ]:
# List Index
dframe.index

In [ ]:
# List Column Names
dframe.columns

In [ ]:
# Datatype of each column
dframe.dtypes

In [ ]:
dframe.sort_values?

In [ ]:
# Sort Dataframe by Column 'C1' in Ascending Order
dframe.sort_values(by='C1', ascending=False)

In [ ]:
# Sort Dataframe by Column 'C1' in Descending Order
dframe.sort_values(by='C1' , ascending=False)

## Delete Column in DataFrame

In [ ]:
df1

In [ ]:
# Delete Column using "del" function
del df1['B']

In [ ]:
df1

In [ ]:
df5

In [ ]:
# Delete Column using pop()
df5.pop('c')

In [ ]:
df5

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11],    index=['a', 'b', 'c','d']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df12 = pd.DataFrame(dict)
df12

In [ ]:
# df12.drop(['A'], axis=1,inplace=True)
# df12 = df12.drop(['A'], axis=1)
df12 = df12.drop(columns=['A'])
df12 = df12.rename({'B':'AAA'}, axis=1)
df12

## Delete Rows in DataFrame

In [ ]:
col1 = np.linspace(10, 100, 30)
col2 = np.random.randint(10,100,30)
df10 = pd.DataFrame({"C1" : col1 , "C2" :col2})
df10

In [ ]:
# Delete rows with index values 17,18,19
df10 = df10.drop([17,18,19], axis=0)
df10

In [ ]:
# Delete rows with index values 16 without using assignment operation
df10.drop([16], axis=0,inplace=True)
df10

In [ ]:
df10.drop(df10.index[5] , inplace=True)
df10

In [ ]:
#Delete first three rows
# df10 = 
df10.iloc[3:,:]
# df10

In [ ]:
#Delete last four rows
df10 = df10.iloc[:-4,]
df10

In [ ]:
#Keep top 10 rows
df10 = df10.iloc[:10,]
df10

In [ ]:
df10

In [ ]:
list(df10.index[df10['C2'] >= 58])
# .tolist()

In [ ]:
# Delete row based on Column value
df10.drop(df10.index[df10['C2'] == 56].tolist() , axis=0,inplace=True)
df10

In [ ]:
# Delete row based on Column value
df10 = df10.drop(df10[df10["C2"]==79].index)
df10

In [ ]:
# Delete all rows with column C2 value 14
df10 = df10[df10.C2 != 44]
df10

In [ ]:
# Delete all rows with column C2 value 88 & 55 using isin operator
df10 = df10[~(df10.C2.isin ([21,48]))]
df10

In [ ]:
# Keep all rows with column C2 value 10,89,31 & 64 using isin operator
df10 = df10[df10.C2.isin ([42,76])]
df10

In [ ]:
dict = {'A' : pd.Series([1, 2, 3,11],    index=['a', 'b', 'c','d']),
        'B' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df11 = pd.DataFrame(dict)
df11

In [ ]:
#Delete all rows with label "d"
df11.drop("d", axis=0,inplace=True)
df11

In [ ]:
df13 = pd.DataFrame({ 'ID' :[1,2,3,4] , 
                     'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 
                     'location' : ['India' , 'Australia','UK' , 'US'] })
df13

In [ ]:
ind = df13[((df13.Name == 'Ross') &(df13.ID == 3) & (df13.location == 'UK'))].index
df13.drop(ind,inplace=True)
df13

## Data Selection in Dataframe

In [ ]:
df

In [ ]:
df.index = [1,2,3,4]
df

In [ ]:
# Data selection using row label
df.loc[1]

In [ ]:
# Data selection using position (Integer Index based)
df.iloc[1]

In [ ]:
df.loc[1:2]

In [ ]:
df.iloc[1:2]

In [ ]:
# Data selection based on Condition
df.loc[df.Rating > 2]

In [ ]:
df1

In [ ]:
# Row & Column label based selection
df1.loc['a']

In [ ]:
df1.iloc['a'] # This will throw error because iloc will not work on labels

In [ ]:
dframe

In [ ]:
dframe[0:2]

In [ ]:
# Data selection using Row Label
dframe['2020-01-20':'2020-01-22']

In [ ]:
# Selecting all rows & selected columns
dframe.loc[:,['C1' , 'C7']]

In [ ]:
#row & column label based selection
dframe.loc['2020-01-20' : '2020-01-22',['C1' , 'C7']]

In [ ]:
# Data selection based on Condition
dframe[dframe['C1'] > 0.5]

In [ ]:
# Data selection based on Condition
dframe[(dframe['C1'] > 0.5) & (dframe['C4'] > 0.5)]

In [ ]:
# Data selection using position (Integer Index based)
dframe.iloc[0][0]

In [ ]:
# Select all rows & first three columns
dframe.iloc[:,0:3]

In [ ]:
dframe.iloc[0][0] = 10

In [ ]:
# Display all rows where C1 has value of 10 or 20
dframe[dframe['C1'].isin([10,20])]

## Set Value

In [ ]:
# Set value of 888 for all elements in column 'C1'
dframe['C1'] = 888
dframe

In [ ]:
# Set value of 777 for first three rows in Column 'C6'
dframe.at[0:3,'C6'] = 777

In [ ]:
dframe

In [ ]:
# Set value of 333 in first row and third column
dframe.iat[0,2] = 333

In [ ]:
dframe

In [ ]:
dframe.iloc[0,2] = 555
dframe

In [ ]:
# Create Copy of the calling objects data along with indices.
# Modifications to the data or indices of the copy will not be reflected in the original object 
dframe1 = dframe.copy(deep=True)

In [ ]:
dframe1[(dframe1['C1'] > 0.5) & (dframe1['C4'] > 0.5)] = 0

In [ ]:
dframe1[dframe1['C1'] == 0]

In [ ]:
# Replace zeros in Column C1 with 99
dframe1[dframe1['C1'].isin([0])] = 99
dframe1

In [ ]:
dframe

In [ ]:
# Display all rows where value of C1 is 99
dframe1[dframe1['C1'] == 99]

## Dealing with NULL Values

In [ ]:
dframe.at[0:8 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Detect Non-Missing Values
# It will return True for NOT-NULL values and False for NULL values
dframe.notna()

In [ ]:
# Detect Missing or NULL Values
# It will return True for NULL values and False for NOT-NULL values
dframe.isna()

In [ ]:
# Fill all NULL values with 1020
dframe = dframe.fillna(1020)
dframe

In [ ]:
dframe.at[0:5 , 'C7'] = np.NaN
dframe.at[0:2 , 'C6'] = np.NaN
dframe.at[5:6 , 'C5'] = np.NaN
dframe

In [ ]:
# Replace Null values in Column 'C5' with number 123
# Replace Null values in Column 'C6' with number 789
dframe.fillna(value={'C5' : 123 , 'C6' : 789})

In [ ]:
#Replace first NULL value in Column C7 with 789
dframe.fillna(value={'C7' : 789} , limit=1)

In [ ]:
# Drop Rows with NULL values
dframe.dropna()

In [ ]:
# Drop Columns with NULL values
dframe.dropna(axis='columns')

In [ ]:
dframe

In [ ]:
# Drop Rows with NULL values present in C5 or C6
dframe.dropna(subset=['C5' ,'C6'])

## Descriptive Statistics

In [ ]:
# Fill NULL values with 55
dframe.fillna(55 , inplace=True)
dframe

In [ ]:
# Mean of all Columns
dframe.mean()

In [ ]:
# Max value per column
dframe.max()

In [ ]:
# Min value per column
dframe.min()

In [ ]:
# Median 
dframe.median()

In [ ]:
dframe.std() #Standard Deviation

In [ ]:
dframe.var()  #Variance

In [ ]:
#Lower Quartile / First Quartile
dframe.quantile(0.25)

In [ ]:
#Second Quartile / Median
dframe.quantile(0.50)

In [ ]:
# Upper Quartile
dframe.quantile(0.75)

In [ ]:
 #IQR (Interquartile Range)
dframe.quantile(0.75) - dframe.quantile(0.25)

In [ ]:
# SUM of column values
dframe.sum()

In [ ]:
# GENERATES DESCRIPTIVE STATS
dframe.describe()

In [ ]:
#Return unbiased skew
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.skew()

In [ ]:
# Return unbiased kurtosis using Fisher’s definition of kurtosis
# https://www.youtube.com/watch?v=HnMGKsupF8Q
dframe.kurt()

In [ ]:
#Correlation
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.corr()

In [ ]:
#Covariance
# https://www.youtube.com/watch?v=qtaqvPAeEJY&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=10
# https://www.youtube.com/watch?v=xZ_z8KWkhXE&list=PLblh5JKOoLUK0FLuzwntyYI10UQFUhsY9&index=11
dframe.cov()

In [ ]:
import statistics as st
dframe.at[3:6,'C1'] = 22
dframe

In [ ]:
# Average 
st.mean(dframe['C1'])

In [ ]:
# Hormonic Mean
st.harmonic_mean(dframe['C1'])

In [ ]:
#Returns average of the two middle numbers when length is EVEN
arr = np.array([1,2,3,4,5,6,7,8])
st.median(arr)

In [ ]:
# low median of the data with EVEN length
st.median_low(arr)

In [ ]:
# High median of the data with EVEN length
st.median_high(arr)

In [ ]:
# Mode of Dataset
st.mode(dframe['C7'])

In [ ]:
# Sample Variance
st.variance(dframe['C1'])

In [ ]:
#Population Variance
st.pvariance(dframe['C1'])

In [ ]:
#Sample  Standard Deviation
st.stdev(dframe['C1'])

In [ ]:
#Population Standard Deviation
st.pstdev(dframe['C1'])

## Apply function on Dataframe

In [ ]:
dframe

In [ ]:
# Finding MAX value in Columns
dframe.apply(max)

In [ ]:
# Finding minimum value in Columns
dframe.apply(min)

In [ ]:
#Sum of Column Values
dframe.apply(sum)

In [ ]:
#Sum of Column Values
dframe.apply(np.sum)

In [ ]:
# Sum of rows
dframe.apply(np.sum ,axis=1)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(np.sqrt)

In [ ]:
# Square root of all values in a DataFrame
dframe.applymap(math.sqrt)

In [ ]:
dframe.applymap(float)

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: min(x))

In [ ]:
# Using Lambda function in Dataframes
dframe.apply(lambda x: x*x)

# Merge Dataframes

In [ ]:
daf1 =  pd.DataFrame ({'id': ['1', '2', '3', '4', '5'], 'Name': ['Asif', 'Basit', 'Bran', 'John', 'David']})
daf1

In [ ]:
daf2 =  pd.DataFrame ({'id': ['1', '2', '6', '7', '8'], 'Score': [40 , 60 , 80 , 90 , 70]})
daf2

In [ ]:
# Inner Join
pd.merge(daf1, daf2, on='id', how='inner')

In [ ]:
# Full Outer Join
pd.merge(daf1, daf2, on='id', how='outer')

In [ ]:
# Left Outer Join
pd.merge(daf1, daf2, on='id', how='left')

In [ ]:
#Right Outer Join
pd.merge(daf1, daf2, on='id', how='right')

# Importing multiple CSV files in DataFrame

In [ ]:
# https://github.com/CSSEGISandData/COVID-19
    
# Append all CSV files 
path = r'C:\Users\PR269KB\Google Drive\Career\06_QuickXpert\QXI_DataScience_Sujeet\Unit_15_Projects_Case_Studies\csse_covid_19_data\csse_covid_19_daily_reports'
path

In [ ]:
filenames = glob.glob(path + "/*.csv")
filenames

In [ ]:
len(filenames)

In [ ]:
pd.DataFrame?

In [ ]:
from IPython.display import Image, SVG, HTML, display, clear_output

In [ ]:
clear_output?

In [ ]:
covid = pd.DataFrame()
for f in filenames:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)
    print(filenames.index(f))
    clear_output(wait=False)

In [ ]:
covid.shape

In [ ]:
# Top 10 rows of the Dataframe
covid = covid[['Confirmed','Country/Region','Deaths','Last Update','Latitude','Longitude','Province/State','Recovered']].dropna().reset_index(drop=True)
covid.head(10)

In [ ]:
# Bottom 10 rows of the Dataframe
covid.tail(10)

In [ ]:
# Unique values in Country column
covid['Country/Region'].unique()

In [ ]:
# Number of Unique values in Country column
covid['Country/Region'].nunique()

In [ ]:
#Dataframe information
covid.info()

In [ ]:
covid.to_csv("",index=False)

In [ ]:
# Reading columns
covid['Country/Region'].head(10)

In [ ]:
# Reading columns
df1 = covid[['Country/Region' ,'Province/State','Confirmed' , 'Last Update']]
df1.head(10)

In [ ]:
#Read specific rows 
df1.iloc[1:4]

In [ ]:
#Filter data 
df1.loc[df1['Country/Region']== 'China']

In [ ]:
df1.loc[df1['Country/Region']== 'China']['Confirmed'].sum()

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Confirmed'], ascending=False).head(5))

In [ ]:
#Sort Data Frame
display('Sorted Data Frame', df1.sort_values(['Country/Region'], ascending=False).head(5))

In [ ]:
#Sort Data Frame - Ascending on "Country" & descending on "Last update"
display('Sorted Data Frame', df1.sort_values(['Country/Region', 'Last Update'], ascending=[1,0]).head(5))

In [ ]:
#Iterating through the dataset
for index , row in df1.iterrows():
    if (row['Country/Region'] == 'China' ):
        display(row[['Country/Region' ,'Confirmed']])

In [ ]:
#Unique Values
covid['Country/Region'].drop_duplicates(keep='first').head(10)

In [ ]:
# Countries impacted with Coronavirus
countries = covid['Country/Region'].unique()
type(countries) , countries

In [ ]:
df2 = pd.read_csv('Pokemon.csv')
df2.head(5)

In [ ]:
# Sum of Columns 
df2['Total'] = df2['HP'] + df2['Attack']
df2.head(5)

In [ ]:
# Sum of Columns 
df2['Total'] = df2.iloc[:,4:10].sum(axis=1)
df2.head(5)

In [ ]:
#Shifting "Total" column

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

In [ ]:
#Shifting "Legendary" column -  Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[-1]] + cols[10:12]]
df2.head(5)

In [ ]:
#Shifting "Generation" column - Index location -1 or 12

cols = list(df2.columns)

df2 = df2[cols[0:10] + [cols[12]] + cols[10:12]]
df2.head(5)

In [ ]:
#Save to CSV file

df2.to_csv('poke_updated.csv')

In [ ]:
#Save to CSV file without index column

df2.to_csv('poke_updated1.csv', index=False)

In [ ]:
df2.head(10)

In [ ]:
# Save Dataframe as text file
df2.to_csv('poke.txt' , sep='\t' , index=False)

In [ ]:
# Save Dataframe as xlsx file
df2.to_excel('poke.xlsx')

In [ ]:
# Save Dataframe as xlsx file without row names
df2.to_excel('poke.xlsx', index=0)

In [ ]:
#Filtering using loc

df2.loc[df2['Type 2'] == 'Dragon']

In [ ]:
#Filtering using loc
df3 = df2.loc[(df2['Type 2'] == 'Dragon') & (df2['Type 1'] == 'Dark')]
df3

In [ ]:
#Reset index for Dataframe df3 keeping old index column

df4 = df3.reset_index()
df4

In [ ]:
#Reset index for Dataframe df3 removing old index column

df3.reset_index(drop=True , inplace=True)
df3

In [ ]:
df2.head(10)

# LIKE OPERATION IN PANDAS

In [ ]:
df2.Name.str.contains("saur").head(10)

In [ ]:
# Display all rows containing Name "rill"
df2.loc[df2.Name.str.contains("rill")]

In [ ]:
# Exclude all rows containing "rill"
df2.loc[~df2.Name.str.contains("rill")].head(10)

In [ ]:
#Display all rows with Type-1 as "Grass" and Type-2 as "Poison"

df2.loc[df2['Type 1'].str.contains("Grass") & df2['Type 2'].str.contains("Poison")]

In [ ]:
df2.loc[df2['Type 1'].str.contains('Grass|Water',regex = True)].head(10)

In [ ]:
# Due to Case-sensitive it will not return any data

df2.loc[df2['Type 1'].str.contains('grass|water',regex = True)].head(10)

In [ ]:
# To ignore case we can use "case = False"

df2.loc[df2['Type 1'].str.contains('grass|water', case = False ,regex = True)].head(10)

In [ ]:
# To ignore case we can use "Flags = re.I"

df2.loc[df2['Type 1'].str.contains('grass|water',flags = re.I ,regex = True)].head(10)

# Regex in Pandas dataframe

In [ ]:
#Get all rows with name starting with "wa"

df2.loc[df2.Name.str.contains('^Wa',flags = re.I ,regex = True)].head(10)

In [ ]:
#Get all rows with name starting with "wa" followed by any letter between a-l

df2.loc[df2.Name.str.contains('^Wa[a-l]+',flags = re.I ,regex = True)].head(10)

In [ ]:
#Get all rows with name starting with x , y, z

df2.loc[df2.Name.str.contains('^[x-z]',flags = re.I ,regex = True)]

In [ ]:
# Extracting first 3 characters from "Name" column
df2['Name2'] = df2.Name.str.extract(r'(^\w{3})')

In [ ]:
df2.head(5)

In [ ]:
# Return all rows with "Name" starting with character 'B or b' 
df2.loc[df2.Name.str.match(r'(^[B|b].*)')].head(5)

# Replace values in dataframe

In [ ]:
df2.head(10)

In [ ]:
df2['Type 1'] = df2['Type 1'].replace({"Grass" : "Meadow" , "Fire" :"Blaze"})

In [ ]:
df2.head(10)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace({"Poison" : "Venom"})

In [ ]:
df2.head(5)

In [ ]:
df2['Type 2'] = df2['Type 2'].replace(['Venom' , 'Dragon'] , 'DANGER')

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Type 2'] == 'DANGER' , 'Name2'] = np.NaN

In [ ]:
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Name2' , 'Legendary']] = 'ALERT'
df2.head(10)

In [ ]:
df2.loc[df2['Total'] > 400 , ['Legendary' , 'Name2']] = ['ALERT-1' , 'ALERT-2'] 
df2.head(10)

# Group By

In [ ]:
df = pd.read_csv('pokemon.csv')
df.head(5)

In [ ]:
df.groupby(['Type 1'])['Total'].std()

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Attack' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Defense' , ascending = False).head(10)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Speed' , ascending = False).head(10)

In [ ]:
df.sum()

In [ ]:
df.groupby(['Type 2']).sum().head(5)

In [ ]:
df.count()

In [ ]:
df['count1'] = 0
df.groupby(['Type 2']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1']).count()['count1']

In [ ]:
df['count1'] = 0
df.groupby(['Type 1' , 'Type 2' , 'Legendary']).count()['count1']

# Loading Data in Chunks

In [ ]:
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    print(df)

In [ ]:
df

In [ ]:
df1 = pd.DataFrame()
for df in pd.read_csv('poke_updated1.csv', chunksize=10):
    df1 = pd.concat([df1 ,df])
df1.head(15)

# Stack & unstack in Pandas

In [ ]:
col = pd.MultiIndex.from_product([['2010','2015'],['Literacy' , 'GDP']])

data =([[80,7,88,6],[90,8,92,7],[89,7,91,8],[87,6,93,8]])

df6 = pd.DataFrame(data, index=['India','USA' , 'Russia' , 'China'], columns=col)
df6

In [ ]:
# Stack() Function stacks the columns to rows.
st_df = df6.stack()
st_df

In [ ]:
#Unstacks the row to columns
unst_df = st_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

In [ ]:
unst_df = unst_df.unstack()
unst_df

# PIVOT Tables

In [ ]:
data = {
    'Country':['India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China','India','USA' , 'Russia' , 'China'],
    'Year':['2010','2010','2010','2010' , '2010','2010','2010','2010','2015','2015','2015','2015','2015','2015','2015','2015'],
     
    'Literacy/GDP':['GDP' , 'GDP' , 'GDP' , 'GDP','Literacy' , 'Literacy', 'Literacy' , 'Literacy','GDP' , 'GDP','GDP' , 'GDP','Literacy' , 'Literacy','Literacy' , 'Literacy'],
   'Value':[7,8,7,6,80,90,89,87,6,7,8, 8, 88 , 92 , 91 ,93]}
 
df7 = pd.DataFrame(data,columns=['Country','Year','Literacy/GDP','Value'])
df7

In [ ]:
# Pivot table with SUM aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='sum')

In [ ]:
# Pivot table with MEAN aggregation
pd.pivot_table(df7 , index= ['Year' , 'Literacy/GDP'] , aggfunc='mean')

# Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
df8.index

In [ ]:
df8.loc['2010']

In [ ]:
df8.loc[['2010']]

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8.loc['2015','Literacy']

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP' , 'Country'])
df8

### SWAP Columns in Hierarchical indexing

In [ ]:
df7

In [ ]:
df8=df7.set_index(['Year', 'Literacy/GDP'])
df8

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df8.swaplevel('Year', 'Literacy/GDP')
df9

In [ ]:
# Swaping the columns in Hierarchical index
df9 = df9.swaplevel('Year', 'Literacy/GDP')
df9

# Crosstab in Pandas

In [ ]:
df7

In [ ]:
pd.crosstab(df7['Literacy/GDP'] , df7.Value , margins=True)

In [ ]:
# 2 way cross table
pd.crosstab(df7.Year , df7['Literacy/GDP'] , margins=True)

In [ ]:
# 3 way cross table
pd.crosstab([df7.Year , df7['Literacy/GDP']] , df7.Country, margins=True)

# Row & Column Bind

### Row Bind

In [ ]:
df8 = pd.DataFrame({'ID' :[1,2,3,4] ,  'Name' :['Asif' , 'Basit' , 'Ross' , 'John'] , 'Score' :[99 , 66 , 44 , 33]})
df8

In [ ]:
df9 = pd.DataFrame({'ID' :[5,6,7,8] ,  'Name' :['Michelle' , 'Ramiro' , 'Vignesh' , 'Damon'] , 'Score' :[78 , 54 , 77 , 87]})
df9

In [ ]:
# Row Bind with concat() function
pd.concat([df8 , df9], axis=0)

In [ ]:
# Row Bind with append() function
df8.append(df9)

### Column Bind

In [ ]:
df10 = pd.DataFrame({'ID' :[1,2,3,4] , 'Name' :['Asif' , 'Basit' , 'Ross' , 'John']})
df10

In [ ]:
df11 = pd.DataFrame({'Age' :[20,30,35,40] , 'Score' :[99 , 66 , 44 , 33]})
df11

In [ ]:
pd.concat([df10,df11] ,axis = 1)

In [ ]:
rbind
sbind